{{extend 'visualizacionLayoutCuentas.html'}}

{{block header}}
{{ include 'includes/header-privado.html' }}
{{end}}

{{block sidebar}}
{{ include 'includes/sidebar-cuenta.html' }}
{{end}}

{{block leftcol}}
{{ include 'includes/tertiary-nav-conf.html' }}
{{end}}


<hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser">
                        <img src="{{ =URL('static','tmp/avatar-45.gif') }}" class="imagen-perfil-ch" />
                        <span class="perfil-results">Mis Notificaciones</span>
                        <button href="#" class="btn btn-primary btn_save"><i class="icon-check icon-white"></i> Guardar</button>
                     </h3>
                    </hgroup>
                    <div class="row-division clearfix forms"><!-- .row-division -->

                        <!--hgroup-->
                        <hgroup class="box-heading clearfix">
                            <h3>Mensajes Recientes ↓</h3>
                        </hgroup>
                        <!--hgroup-->
    
                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->

                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->                        

                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->

                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->

                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->

                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->
                        
                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                        </div><!-- /.notificaciones -->

                        <div class="notificaciones"><!-- .notificaciones -->
                            <div class="caja_notifica">
                                <h3>Titulo de la Notificación <span class="label nuevo">Nuevo</span></h3>
                                <span class="fecha_notifica">9 de Agosto</span>
                                <a class="btn_borra_notifica"><i class="icon-remove"></i> Borrar</a>
                                <p>Morbi mattis condimentum risus ac varius. In fringilla, purus vel adipiscing dictum, quam sapien dictum sem, quis faucibus leo erat sed justo. Mauris non odio quam.</p>
                            </div>
                            
                        </div><!-- /.notificaciones -->

                        <!--Pagination-->
                       
                        <!--Pagination end-->                                               

                    </div><!-- .row-division -->
