{{extend 'visualizacionLayoutCuentas2.html'}}

{{block header}}
{{ include 'includes/header-login.html' }}
{{end}}

{{block sidebar}}

{{end}}

{{block leftcol}}

{{end}}

                    <div class="row-division-center"><!-- .row-division -->
                        
                        <hgroup class="search-results historial-head clearfix">
                        <h3 class="search-awnser">
                                <img src="{{ =URL('static','img/img-ok.gif') }}" class="imagen-ok" />
                                <span class="detail-results">¡Gracias!</span>
                                <span class="detail-results">Tu cuenta ha sido creada con éxito.</span>
                         </h3>
                        </hgroup>

                        <div class="detalle_cuenta_creada">
                            Para activarla por favor revisa tu correo electrónico <br />y valida tu cuenta siguendo las instrucciones enviadas.
                        </div>
                        

                    </div><!-- .row-division -->
