{{extend 'visualizacionLayoutCuentas2.html'}}

{{block header}}
{{ include 'includes/header-login.html' }}
{{end}}

{{block sidebar}}

{{end}}

{{block leftcol}}

{{end}}


 <div class="row-division-center"><!-- .row-division -->
                        
                        <hgroup class="search-results historial-head clearfix">
                          <h3 class="search-awnser">
                            <span class="perfil-results">Regístrate en Poderopedia</span>
                         </h3>
                        </hgroup>
                        
                        <div class="preguntas_registro">
                            ¿Ya estas registrado? <a href="#">Ingresa acá</a>
                        </div>
                        
                        <ul class="btns_sociales">
                            <li><a href="#" class="btn_facebook">Facebook</a></li>
                            <li><a href="#" class="btn_twitter">Twitter</a></li>
                        </ul>
                        
                        <form class="form-horizontal">
                            <fieldset>
                              <div class="control-group">
                                <h4 class="head_registro">Regístrate ahora:</h4>
                              </div>
                    
                              <div class="control-group">
                                <label for="focusedInput" class="control-label">Nombre de Usuario<span class="req">*</span></label>
                                <div class="controls">
                                  <input type="text" value="Carolina Silva" id="focusedInput" class="input-xlarge focused">
                                </div>
                              </div>
                    
                              <div class="control-group">
                                <label for="focusedInput" class="control-label">Email<span class="req">*</span></label>
                                <div class="controls">
                                  <input type="email" value="carolina@gmail.com" id="focusedInput" class="input-xlarge focused">
                                </div>
                              </div>

                                        <div class="control-group warning">
                                            <label for="inputWarning" class="control-label">Contraseña<span class="req">*</span></label>
                                <div class="controls">
                                  <input type="password" id="inputWarning" class="input-xlarge focused">
                                </div>
                                        </div>
                    
                                        <div class="control-group warning">
                                            <label for="inputWarning" class="control-label">Repite tu Contraseña<span class="req">*</span></label>
                                <div class="controls">
                                  <input type="password" id="inputWarning" class="input-xlarge focused">
                                </div>
                                        </div>
                    
                                    <div class="control-group">
                                        <div class="controls">
                                                    <div class="alert">
                                                        <img src="{{ =URL('static','img/img_warning.gif') }}" class="img_warning"/>
                                                        <span class="txt_alert">
                                                            Las contraseñas no concuerdan<br />
                                                            <strong>Por Favor ingresa de nuevo tu contraseña</strong>.
                                                        </span></div>
                                                </div>
                                                <div class="controls">
                                            </div>
                              </div>

                        <div class="soporte-accion">
                                <span class="sop_req"><span class="req">*</span> Campos Obligatorios</span>
                          <button href="#" class="btn btn-primary btn_save">Regístrate</button>
                        </div>
                            
                            </fieldset>
                        </form>                        
                        

                    </div><!-- .row-division -->
