/*!
Layout
 */
/* Override some defaults */

/* Web2py */
td.w2p_fl, td.w2p_fw, td.w2p_fc { vertical-align:top; }
td.w2p_fl { text-align:right; }
td.w2p_fl,  td.w2p_fw {padding-right: 7px;}

footer {padding-top: 10px; border-top: 1px solid #ddd; margin-bottom: 40px;}
.flash {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-top: -18px;}
.flash.alert {margin-bottom: 10px !important;}
div.error { color: #ec6f5a;}
