<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
    <h5>&darr; <span>14 Empresas</span> Relacionadas</h5>
</hgroup>
<div class="widget widget-sources clearfix">
    <ul class="widget-images">
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-empresa45.gif')}}" /></a></li>
    </ul>
    <a href="#" class="sugest">[Sugerir otra persona]</a> <a href="#" class="sugest-right">Ver más &gt;</a> </div>
<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
    <h5>&darr; <span>14 Organizaciones</span> Relacionados</h5>
</hgroup>
<div class="widget widget-sources clearfix">
    <ul class="widget-images">
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
        <li><a href="#"><img src="{{=URL('static', 'tmp/avatar-organizacion45.gif')}}" /></a></li>
    </ul>
    <a href="#" class="sugest">[Sugerir otra persona]</a> <a href="#" class="sugest-right">Ver más &gt;</a> </div>
<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
    <h5>&darr; <span>14 Casos</span> Relacionados</h5>
</hgroup>
<div class="widget widget-sources clearfix">
    <ul class="websites-sources related-sources">
        <li><a href="#"><img src="assets/tmp/avatar-organizacion45.gif" />País </a></li>
        <li><a href="#"><img src="assets/tmp/avatar-organizacion45.gif" />Sector </a></li>
    </ul>
    <a href="#" class="sugest">[Sugerir otra persona]</a> <a href="#" class="sugest-right">Ver más &gt;</a> </div>
<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
    <h5>&darr; <span>14 Mapas</span> Relacionadas</h5>
</hgroup>
<div class="widget widget-sources clearfix">
    <ul class="websites-sources related-sources">
        <li><a href="#"><img src="assets/tmp/avatar-organizacion45.gif" />País</a></li>
        <li><a href="#"><img src="assets/tmp/avatar-organizacion45.gif" />Sector</a></li>
    </ul>
    <a href="#" class="sugest">[Sugerir otra persona]</a> <a href="#" class="sugest-right">Ver más &gt;</a> </div>
<!-- /sourcesWidget -->
