{{extend  'visualizacionLayoutFooter.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}


                <!-- leftCol -->
                <section class="left-col span2">
                    {{ include 'includes/sidebar-ayuda.html' }}
                </section>
                <!-- /leftCol -->
                
                <!-- centerCol -->
                <section class="center-col estaticas span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Equipo</span></h3>
                    </hgroup>
                    <div class="row-division clearfix"><!-- .row-division -->
                        <p align="justify">En Poderopedia trabajamos periodistas, desarrolladores, diseñadores y colaboradores ciudadanos interesados en promover una mayor transparencia, accountability y democracia en Chile para que la información y el poder estén al alcance de todos.</p>
                        <ul class="faces-ul equipo">
                            <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/miguel_paz.jpg') }}" class="imgfacefooter">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Miguel Paz</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Fundador y CEO</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@miguelpaz</a></p>
                                    </li>
                                    
                                </ul>
                                
                            </li>
                            <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/monica_ventura.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Mónica Ventura</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Jefa de Investigación</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@monikventura</a></p>
                                    </li>
                                  
                                </ul>
                            </li>
                             <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/juaneduardo_hernandez.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Juan Eduardo Hernández</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Desarrollador jefe</span></p>
                                    </li>
                                </ul>
                                <!--<ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@twitterpersona</a></p>
                                    </li>
                                  
                                </ul>-->
                            </li>
                             <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/cristian_huaraman.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Cristián Huaramán</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Desarrollador</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@darkkronox</a></p>
                                    </li>
                                  
                                </ul>
                            </li>
                            <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/alvaro_graves.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Alvaro Graves</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Desarrollador</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@alvarograves</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/CarolinaSandoval.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Carolina Sandoval</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">AI/UX</span></p>
                                    </li>
                                </ul>
                                <!--<ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@twitterpersona</a></p>
                                    </li>
                                    
                                </ul>-->
                            </li>
                             <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/estefania-trisotti.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Estefanía Trisotti</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Diseñadora</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@TRI_</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                             <li class="listas2"> 
                                <img src="{{ =URL('static','equipo/juanpablo_barrientos.jpeg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Juan Pablo Barrientos</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Front-end</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@juanpablob</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                        </ul>
                        <h3 class="border-bottom" align="justify">Consejo Asesor</h3>
                        <ul class="faces-ul equipo">
                            <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/andres_azocar.jpeg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Andrés Azócar</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Periodista y Director de Medios Digitales Copesa</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@andresazocar</a></p>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/rodrigo_guaiquil.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Rodrigo Guaiquil</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Periodista y COO AméricaEconomía</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@Ojopiojo</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/claudio_ruiz.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Claudio Ruiz</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Abogado, director de ONG Derechos Digitales y Co-director regional de Creative Commons para Latinoamérica</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@claudio</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                               <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/nicolas_copano.png') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Nicolás Copano</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Periodista y empresario digital, socio de El Grupo</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@copano</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                              <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/claudio_gutierrez.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Claudio Gutiérrez</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Profesor Asociado del Departamento de Ciencias de la Computación, Universidad de Chile</span></p>
                                    </li>
                                </ul>
                                <!--<ul class="info">
                                    <li class="listas">
                                        <p><a href="#">http://www.dcc.uchile.cl/node/308</a></p>
                                    </li>
                                    
                                </ul>-->
                            </li>
                               <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/manuel_contreras_esparza.png') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Manuel Contreras Esparza</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Gerente de Comunicaciones de Altavoz</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@vaticanochico</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                             <li class="listas2"> 
                                <img src="{{ =URL('static','tmp/imagen-face.gif') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Juan Carlos Camus</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Profesor de contenidos digitales, usabilidad (UX) y arquitectura de información (AI)</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@jccamus</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                               <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/eduardo_engel.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Eduardo Engel</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Profesor de economía de la Universidad de Chile y la Universidad de Yale</span></p>
                                    </li>
                                </ul>
                                <!--<ul class="info">
                                    <li class="listas">
                                        <p><a href="#">http://cowles.econ.yale.edu/faculty/engel.htm</a></p>
                                    </li>
                                    
                                </ul>-->
                            </li>
                              <li class="listas2"> 
                                <img src="{{ =URL('static','tmp/imagen-face.gif') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Laura Soto-Barra</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Bibliotecaria Senior de la Radio Pública Nacional (NPR)</span></p>
                                    </li>
                                </ul>
                                <!--<ul class="info">
                                    <li class="listas">
                                        <p><a href="#">http://www.npr.org/templates/community/persona.php?uid=1988516</a></p>
                                    </li>
                                    
                                </ul>-->
                            </li>
                             <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/jose_kusunoki.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">José Kusunoki</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Jefe de Proyectos Editoriales Web en Medios Regionales del Grupo El Mercurio</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@jkusunoki</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                             <li class="listas2"> 
                                 <img src="{{ =URL('static','consejo_asesor/juanfrancisco_diez.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Juan Francisco Diez</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">General manager Betazeta Networks México</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@jf10</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                              <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/patricio_navia.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Patricio Navia</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Cientista político, profesor de NYU y UDP y columnista</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@patricionavia</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                              <li class="listas2"> 
                                <img src="{{ =URL('static','consejo_asesor/mauro_nunez.jpg') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Mauro Núñez</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Vicepresidente de operaciones PCI Security Standards Council y miembro del directorio de la Web Foundation</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@mauro_nunez</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="listas2"> 
                                <img src="{{ =URL('static','tmp/imagen-face.gif') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Mirko Macari </a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Periodista y Director de El Mostrador</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@mirkomacari</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                              <li class="listas2"> 
                                <img src="{{ =URL('static','tmp/imagen-face.gif') }}">
                                <ul class="info">
                                    <li class="listas">
                                        <h4><a href="#">Felipe Heusser</a></h4>
                                    </li>
                                    <li class="listas">
                                        <p><span class="color">Abogado y Presidente Ejecutivo de la Fundación Ciudadano Inteligente</span></p>
                                    </li>
                                </ul>
                                <ul class="info">
                                    <li class="listas">
                                        <p><a href="#" class="icon-twitter">@fheusser</a></p>
                                    </li>
                                    
                                </ul>
                            </li>
                      </ul>
                    </div><!-- .row-division -->
            <!-- <ul class="info">   
                 <h3 class="border-bottom" align="justify">Colaboraron con Poderopedia</h3><p></p> 
<p>Jorge Epuñán, Uri Martinic, Hanna Back y Héctor Vergara.</p>
                            </ul>	-->

                </section>
                <!-- /centerCol -->
