{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}
   
<div class="row">

 	<div id="content">
       <div class="estaticas">   
<!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Condiciones y Términos Generales de Uso</span></h3>
                    </hgroup>

                    <div class="row-division clearfix"><!-- .row-division -->

                        <p>Te damos la bienvenida a Poderopedia.org, en adelante Poderopedia. Antes de empezar a utilizar nuestros servicios, deberás leer y aceptar estas Condiciones de uso del servicio de Poderopedia ("Condiciones y Términos Generales de Uso"), las que incluyen cualquier futura modificación y aceptar el Acuerdo de Uso de Poderopedia.</p>
 
                        <p>El presente documento y el Acuerdo de Uso de Poderopedia regula las relaciones entre la Fundación Poderomedia, en adelante Fundación Poderomedia - persona jurídica de derecho privado sin fines de lucro  con domicilio en Pasaje Irene Ariztía 548, oficina 4, Santiago de Chile – los usuarios de sus servicios y los titulares de un perfil de personas, empresas y organizaciones que conforman las bases de datos de Poderopedia.</p>
 
<ol><!--Lista principal-->
    <li><h3><span>01 -</span> Condiciones y Términos Generales de Uso</h3><p></p>
                           
     <p>Las Condiciones y Términos Generales de uso regulan los servicios que presta Fundación Poderomedia a través de Poderopedia.org, sus características y restricciones, así como los derechos y deberes de sus usuarios.</p>
 
     <p>Las Condiciones y Términos Generales de uso de Poderopedia pueden ser actualizadas en cualquier momento y sin aviso previo, por lo que el usuario es responsable de su revisión periódica. Desde el momento en que sean publicados los cambios o actualizaciones de las Condiciones y Términos Generales de Uso, se entenderá que los usuarios están notificados de ello. Si hubiera cambios significativos, Fundación Poderomedia podrá enviar una notificación de aquello a la casilla de correo electrónico proporcionada por el usuario al momento del registro.</p>
 
     <p>Desde el momento en que cada usuario se registra en Poderopedia y/o hace uso de sus servicios está aceptando sus Condiciones y Términos Generales de Uso y todas sus modificaciones y/o actualizaciones posteriores.</p></li>

 
 
    <li><h3><span>02 -</span> Descripción de los servicios</h3><p></p>
 
    <p>Poderopedia es un sitio web que aloja una base de datos editorial participativa que registra y permite visualizar las relaciones y conexiones entre las personas, empresas y organizaciones de interés público a fin de indicar quién es quién en los negocios y la política en Chile.</p>
 
    <p>Poderopedia contiene datos personales e información de personas, empresas y organizaciones de interés público, los cuales emanan de fuentes accesibles al público, sean públicas o privadas, de los medios de comunicación social y de toda otra fuente periodística cuya veracidad y exactitud haya sido previamente verificada por Fundación Poderomedia.</p>
 
    <p>La base de datos de Poderopedia será administrada, investigada y verificada editorialmente por Fundación Poderomedia. La recopilación de datos e información será efectuada tanto por Fundación Poderomedia, conforme a sus Principios Editoriales, como por los usuarios registrados previa verificación de las fuentes aportadas por éstos.</p>
	
	<ul><!--Lista segundaria-->
	  	  
        <li><h5><span>a.</span>    Registro y autenticación</h5><p></p>
        
        <p>El acceso a Poderopedia es libre y gratuito pero cuando el usuario desee sugerir conexiones, perfiles, reportar un error o reportar contenido inadecuado, deberá registrarse en el sitio o utilizar una cuenta de Facebook o Twitter para hacerlo.</p>
 
        <p>El usuario será responsable de todas las acciones, actividades y eventos que se realicen en el sitio con motivo de su autenticación y contraseña. Dicha autenticación servirá de firma electrónica del usuario para todos los efectos legales.</p>
 
        <p>Poderopedia te permite por el solo hecho del registro y en forma gratuita, la consulta a su base de datos, así como los enlaces e información que se encuentre disponible en el sitio Poderopedia.org.</p>
 
        <p>Adicionalmente Poderopedia podrá ofrecer servicios preferenciales pagados los que se regirán por las mismas Condiciones y Términos Generales de Uso en lo que no esté especialmente regulado en sus condiciones especiales. Asimismo Poderopedia podrá establecer permisos diferenciados a ciertos usuarios dependiendo de las labores que estos realicen en el sitio. Estos permisos podrán ser modificados en cualquier momento y sin necesidad de aviso previo por Fundación Poderomedia.</p>
 
        <p>El Servicio sólo puede usarse a partir de los catorce (14) años de edad. Fundación Poderomedia se reserva el derecho de no prestar el servicio a cualquier usuario en cualquier momento sin aviso previo.</p>
 
        </li>
        
        <li><h5><span>b.</span>    Admisión</h5><p></p>
        <p>La admisión a los servicios de Poderopedia tiene el carácter de abierta y gratuita. No obstante, el uso de este sitio está destinado exclusivamente a usuarios mayores de 14 años y Fundación Poderomedia se reserva el derecho de rechazar registros que no cumplan con los requisitos mínimos que permitan la correcta y debida identificación de los usuarios. Para estos efectos, Fundación Poderomedia podrá requerir al momento del registro datos relevantes que permitan la correcta identificación de los usuarios a fin de evitar la existencia de registros anónimos. Para dichos efectos, Fundación Poderomedia podrá solicitar en cualquier momento datos que comprueben la veracidad de dicha información.</p>
 
        </li>
        
        <li><h5><span>c.</span>    Uso de los Servicios</h5><p></p>
        <p>Será responsabilidad de los usuarios el uso y destino de los servicios prestados por Poderopedia, no asumiendo Fundación Poderomedia responsabilidad alguna por este concepto.</p>
 
        <p>La infracción de alguno de los aspectos mencionados en estas Condiciones y Términos Generales de uso provocará el cese de los servicios, sin perjuicio de las consecuencias legales, sean civiles, criminales o de otra naturaleza. Fundación Poderomedia se reserva el derecho de investigar el uso del servicio, sujetándose a sus Políticas de Privacidad, con el fin de determinar si alguna infracción a estas Condiciones o para efectos de verificar el cumplimiento de la regulación aplicable.</p>
 
        <p>No pueden utilizarse los servicios de Poderopedia para promocionar sitios web afiliados, mejorar la posición de los mismos ante buscadores, ni para publicar únicamente avisos publicitarios. En caso de que el usuario sea notificado de alguno de los hechos anteriormente descritos de manera directa o a través de mecanismos tecnológicos destinados al efecto, Fundación Poderomedia podrá adoptar las medidas permitidas por el presente documento.</p>
 
        <p>Al utilizar Poderopedia, el usuario acepta mantener indemne e indemnizar a Fundación Poderomedia, sus representantes, apoderados y/o empleados frente a reclamaciones de terceros relacionadas con el uso que haga de los servicios, incluyendo la responsabilidad o gastos ocasionados por demandas judiciales, indemnizaciones civiles, costas procesales y honorarios de abogados, de cualquier tipo y naturaleza. En tal caso, Fundación Poderomedia hará llegar al usuario una notificación escrita de la respectiva demanda, litigio o acción.</p>

        </li>
          
        <li><h5><span>d.</span>    Participación de los usuarios en el contenido de Poderopedia</h5><p></p>
        <p>Poderopedia permite a los usuarios registrados aportar contenido a sus bases de datos a fin de incrementar la información relativa a los perfiles de personas, empresas y organizaciones, pudiendo además actualizar posteriormente tal contenido. Dicho aporte, entendido como una actividad participativa y sin fines de lucro, se realizará mediante las aplicaciones tecnológicas disponibles en el sitio web de Poderopedia o a través de twitter, Facebook u otras redes sociales.</p>
 
        <p>Los datos personales e información que el usuario recopile y aporte deberán emanar, preferentemente, de fuentes accesibles al público o de publicaciones realizadas por medios de comunicación social. Tratándose de otras fuentes, el usuario deberá velar por la veracidad, exactitud y precisión de éstas, asumiendo toda responsabilidad que se derive de información falsa, incompleta o inexacta. Fundación Poderomedia verificará la confiabilidad, veracidad y exactitud de los datos aportados por el usuario, pudiendo solicitarle toda la documentación o antecedentes de respaldo que considere pertinentes. Fundación Poderomedia determinará si los datos e información aportados por el usuario serán incorporados a un determinado perfil en las bases de datos de Poderopedia.</p>

        </li>
          
        <li><h5><span>e.</span>    Pagos</h5><p></p>
        <p>Los servicios prestados a través de Poderopedia no tienen costo para los usuarios. Sin embargo, Fundación Poderomedia podrá prestar además servicios preferenciales pagados, los que si tienen costo para el usuario, disponible en www.poderomedia.org.</p>

    	</li>
    </ul><!--Fin Lista Segundaria-->
  </li>
   
    <li><h3><span>03 -</span> Suspensión de los servicios y eliminación cuenta de usuario</h3><p></p>
 
    <p>Fundación Poderomedia podrá, en caso que existan circunstancias que lo ameriten, y en todo momento, suspender los servicios de Poderopedia.org.</p>
 
    <p>Fundación Poderomedia podrá en cualquier momento y sin notificación o aviso previo cancelar una cuenta de usuario en el evento que no haya respetado las Condiciones y Términos de Uso de Poderopedia. Asimismo, Fundación Poderomedia adoptará dicha medida cuando tome conocimiento de que mediante comentarios o mensajes el usuario promueva la comisión de todo tipo de delitos, comparta información que atente contra las buenas costumbres, la moral o el orden público.</p>
 
    <p>En el caso de cancelación, la cuenta quedará anulada y no se dispondrá de acceso a la misma ni a los archivos o contenidos de la cuenta, aunque puedan permanecer en el sistema de Fundación Poderomedia copias temporales de dicha información.</p>
 
    <p>Sin perjuicio de lo señalado precedentemente, en caso de acciones que puedan poner en peligro a Fundación Poderomedia o los servicios que presta a través de Poderopedia, o bien se amenacen seriamente derechos de terceros, Fundación Poderomedia podrá suspender inmediatamente las cuentas de uno o más usuarios, a la espera de una determinación definitiva respecto de su cierre o reapertura.</p>

   	</li>
   
    <li><h3><span>04 -</span> Obligaciones de los usuarios</h3><p></p>
 
    <p>En términos generales, los usuarios tendrán las siguientes obligaciones:</p>
    
    	<ul><!--Lista Segundaria-->
        	<li>Usar la información obtenida a través de Poderopedia conforme a la descripción y finalidad que se declara en el presente instrumento y para fines lícitos.</li>
            <li>No entregar información falsa a Fundación Poderomedia, o que no haya sido debidamente verificada.</li>
            <li>No injuriar ni calumniar a personas a través de Poderopedia.</li>
        	<li>Actualizar su información de contacto en la cuenta de usuario, cada vez que ésta se modifique.</li><p></p>
    	</ul><!--Fin Lista Segundaria-->
    
	</li>

    <li><h3><span>05 -</span> Asistencia técnica</h3><p></p>
 
    <p>Las solicitudes de asistencia técnica deben dirigirse a la etiqueta “contacto” del sitio http://www.poderopedia.org. Fundación Poderomedia además entrega asistencia técnica personalizada, para aquellos usuarios que la contraten.</p>

    </li>    
 
    <li><h3><span>06 -</span> Políticas Legales</h3><p></p>
 
    <p>El contenido publicado por los usuarios a través de Poderopedia es de exclusiva responsabilidad de mismos. Sin perjuicio que Fundación Poderomedia revisa dichos contenidos en forma previa, no se responsabiliza por la falta de veracidad o fiabilidad de los contenidos que hayan sido entregados por los usuarios.</p>
 
    <p>Fundación Poderomedia podrá implementar mecanismos, herramientas o procedimientos para velar por la fiabilidad y exactitud de la información proporcionada por los usuarios, y desechar la publicación de aquellos cuya autenticidad o integridad no haya podido ser verificada.</p>
 
    <p>Fundación Poderomedia se reserva el derecho de denunciar situaciones que se estimen constitutivas de delitos o faltas. Para tales efectos, una vez que se haya eliminado una cuenta de usuario, Fundación Poderomedia mantendrá los datos personales del usuario en sus servidores por el tiempo que se estime conveniente. Asimismo, Fundación Poderomedia almacenará temporalmente en sus servidores los logs de registro de las acciones de los usuarios que se refieran a los hechos o conductas antes señalados.</p>

	<ul><!--Lista Segundaria-->  
  
        <li><h5><span>a.</span>   Reclamaciones de un titular de un perfil en Poderopedia</h5><p></p>
        
        <p>El titular de un determinado perfil de personas, empresas y organizaciones que conforman las bases de datos de Poderopedia, podrá en todo momento reportar a Fundación Poderomedia los errores, inexactitudes y contenido inadecuado, entre otras situaciones, que respecto de sí se publiquen en Poderopedia. Asimismo, tales titulares podrán hacer uso de las acciones y derechos contemplados en la Ley n° 19.628 sobre Protección de la Vida Privada y Tratamiento de Datos Personales a fin de resguardar sus derechos.</p>
 
        <p>Para estos efectos, el titular podrá enviar su reporte a Fundación Poderomedia mediante la casilla de correo info (at) poderopedia.org o bien a través de una notificación escrita a la siguiente dirección: Pasaje Irene Ariztía 548, oficina 4, comuna de Santiago. El reporte deberá contener los datos de identificación del titular, dirección de correo electrónico y/o domicilio postal, número telefónico de contacto, motivo del reporte y antecedentes que lo fundamentan. Una vez recibo el reporte, Fundación Poderomedia enviará un acuse de recibo mediante correo electrónico o notificación escrita al domicilio postal, indicando el procedimiento que se adoptará y el plazo de envío de la respuesta, sin perjuicio de que podrá enviarse una respuesta inmediata.</p>
 
        </li>
        
        <li><h5><span>b.</span>   Derechos de Propiedad Intelectual de Fundación Poderomedia</h5><p></p>
        
        <p>Fundación Poderomedia es titular exclusivo de los derechos de propiedad intelectual del servicio Poderopedia, incluyendo pero no limitado a las marcas comerciales Poderopedia, logos y derivados. De esta manera, nadie puede hacer uso de estos elementos sin la expresa autorización de Fundación Poderomedia, ni podrá arrogarse más derechos que los que este documento y la normativa legal asociada confiere.</p>
 			
           			<ul><!--Lista 3°-->
                        <li><span>i. 	Licenciamiento</span><p></p>
                        <p>Fundación Poderomedia licencia los contenidos de Poderopedia con la licencia Creative Commons 3.0. Esto significa que:</p>
 
                            <p>  Se puede copiar, distribuir y comunicar públicamente el contenido de Poderopedia.</p>
                            <p>  No es posible editar los contenidos, excepto para reflejar cambios relativos a tiempo, lugar y estilo editorial.</p>
                            <p>  No es posible vender los contenidos de Poderopedia</p>
                            <p>  Pueden publicarse los contenidos de Poderopedia en una página web con avisos comerciales pero no es posible incluir avisos comerciales que hayan sido vendidos específicamente a partir de nuestro contenido.</p>
                            <p>  Si se publican contenidos de Poderopedia, deben ser enlazados a las URLs de los contenidos publicados originalmente en Poderopedia.</p>
                            <p>  Debe señalarse a Poderopedia como autor del contenido, al inicio del mismo, idealmente de las siguientes formas: Autor: "Poderopedia" o Vía Poderopedia o Powered by Poderopedia</p>
                            <p>  No puedes republicar contenidos de Poderopedia de manera automática: debes seleccionar los contenidos que desees republicar de manera individual.</p>
 
                        <p>La página web Poderopedia.org es de propiedad de Fundación Poderomedia y su uso es gratuito para cualquier lugar del mundo bajo licencia GNU General Public Licences (GPL) versión 3. Esto significa que si se realizan o distribuyen cambios, deberán ser puestos a disposición con la misma licencia de código abierto. La documentación de Poderopedia y Ontología también se encuentran disponibles bajo la misma licencia GNU GPL versión 3.</p>
 
                        <p>El diseño de Poderopedia.org es de propiedad de Fundación Poderomedia.</p>
                        
                        </li>
 
                        <li><span>ii. 	Reclamos de terceros</span><p></p>
                        <p>En caso que terceros reclamen frente a eventuales infracciones de derechos de propiedad intelectual o similares provocados por los usuarios de Poderopedia en el marco de la utilización de los servicios, Fundación Poderomedia se reserva el derecho de suprimir en cualquier momento la distribución de los servicios y de notificar de aquello a los usuarios del caso, haciendo uso del procedimiento señalado en las Políticas Legales.</p>
                      	</li>
                   </ul><!--Fin Lista 3°--> 
            
                 </li>
                           
        <li><h5><span>c.</span>   Derechos de autor y propiedad intelectual de terceros</h5><p></p>
        
        <p>Los derechos de autor derivados de los contenidos publicados por los usuarios de Poderopedia se licenciarán bajo la licencia Creative Commons 3.0, para lo cual el usuario de Poderopedia concede a Fundación Poderomedia una licencia internacional no exclusiva y gratuita para reproducir, publicar, indexar y distribuir dichos contenidos en los servicios de Poderopedia, y licenciarlos de la forma señalada.</p>
 
        <p>Desde el momento de la publicación de contenido en Poderopedia, el usuario asegura ser autor original o derivado de éste o bien poseer todos los derechos o autorizaciones correspondientes para hacer uso de las obras publicadas.</p>
        
        <ul><!--Lista 3°-->
 
            <li><span>i. 	Protección de los derechos de autor de terceros</span><p></p>
            
            <p>Fundación Poderomedia respeta los derechos de autor y de propiedad intelectual de terceras personas (terceros) y prohíbe que en Poderopedia se publique o haga uso de obras materiales protegidos por dichos derechos, sin contar con la respectiva autorización de sus dueños. Fundación Poderomedia se reserva el derecho a rechazar la admisión, publicación, muestra o transmisión de cualquier contenido cuya propiedad parezca discutida.</p>
            
 	</li>
            <li><span>ii. 	Infracciones a los derechos de autor y propiedad intelectual</span><p></p>
            
            <p>Cuando Fundación Poderomedia reciba una notificación de un usuario o terceros advirtiendo que un usuario está vulnerando derechos de autor en Poderopedia, se seguirán las acciones que se indican a continuación, sin perjuicio del derecho de Fundación Poderomedia de inhabilitar temporalmente el acceso al material que motiva el reclamo.</p>
            </li>
        </ul><!--Fin Lista 3°-->
 
        <p>El tercero afectado podrá notificar a Fundación Poderomedia  mediante la casilla de correo info (at) poderopedia.org o enviar una notificación escrita a la siguiente dirección: Pasaje Irene Ariztía 548, oficina 4, comuna de Santiago, con la identificación y dirección de correo electrónico de quien reclama.</p>
 
        <p>Fundación Poderomedia se reserva el derecho de solicitar antecedentes adicionales al reclamante. Asimismo, se reserva el derecho de notificar de aquello a los usuarios del caso, de suprimir en cualquier momento la distribución de los servicios y de determinar el retiro del material en cuestión o la inhabilitación del acceso al mismo, informando inmediatamente de ello al presunto infractor. El presunto infractor podrá reclamar a través de los medios de que dispone la ley.</p>
 
        <p>Sin perjuicio de lo señalado, el reclamante será responsable de los daños y perjuicios que pueda causar su denuncia.</p>
 
       </li> 
        
        <li><h5><span>d.</span>   Infracciones a la normativa criminal</h5><p></p>
        
        <p>Poderopedia y sus servicios no podrán ser utilizados para ningún propósito ilegal o prohibido por la ley normativa reglamentaria aplicable.</p>
 
        <p>Sin perjuicio de lo señalado por la ley, Fundación Poderomedia considera prohibidas, entre otras, las siguientes conductas:</p>
        <p>·  	Incitación a la comisión de delitos o faltas.</p>
<p>·  	Defraudación a terceros en Poderopedia a través o con ayuda de éste.</p>
<p>·  	Acceso ilegal o indebido a sistemas informáticos a través o con ayuda de Poderopedia.</p>
<p>·  	Destrucción o alteración de datos de terceros.</p>
<p>·  	Uso indebido de datos de terceros.</p>
<p>·  	Creación, distribución y propagación de virus informáticos o programas dañinos.</p>
<p>·  	Manifestación de afirmaciones injuriosas o calumniosas.</p>
<p>·  	Obtención indebida o uso de información personal reservada de otros usuarios de Poderopedia.</p>
<p>·  	Suplantación de identidad.</p>
 
 		<ul><!--Lista 3°-->
            <li><span>i. 	Denuncia de conductas criminales</span><p></p>
            	<p>Sin perjuicio de lo señalado en las Políticas de Privacidad, Fundación Poderomedia podrá denunciar a aquellos usuarios que realicen a través de Poderopedia actividades sancionadas por las leyes penales.</p>
 			</li>
            
            <li><span>ii. 	Respuesta a conductas criminales</span><p></p>
            <p>Además de las acciones indicadas precedentemente, Fundación Poderomedia se reserva la facultad de eliminar las cuentas de registro de aquellos usuarios que estuviesen realizando conductas criminales o prohibidas por la ley. Fundación Poderomedia tomará todas las medidas necesarias y adoptará las prevenciones tecnológicas pertinentes para identificar a los presuntos responsables de conductas delictivas e informar a las autoridades cuando así le sea solicitado judicialmente.</p>
            </li>
        </ul><!--Fin Lista 3°-->
        </li>
    </ul><!--Fin Lista Segundaria-->
</li>
   
    <li><h3><span>07 -</span> Otras disposiciones.</h3><p></p>

	<ul><!--Lista Segundaria-->  
        <li><span>a.</span>   Publicidad.<p></p>
        <p>Los usuarios autorizan a Fundación Poderomedia a desplegar publicidad en el sitio Poderopedia.</p>
 
        <p>El usuario registrado acepta que Fundación Poderomedia pueda incluir su nombre en una lista de usuarios de Poderopedia y hacer uso de aquello para promocionar los servicios de Poderopedia.</p></li>
 
        <li><span>b.</span>   Cambio en la propiedad o administración de Fundación Poderomedia<p></p>
        
        <p>En el evento que la totalidad o parte de los activos de Poderopedia fuesen adquiridos por terceros, sean personas naturales o personas jurídicas, ante el cambio de la propiedad de Poderopedia cualquiera fuese el motivo o bien frente al cambio de la administración sus servicios y del sitio web, la información personal identificable del usuario será transferida al nuevo propietario de Poderopedia o a la nueva administración bajo las condiciones de privacidad vigentes al tiempo de la transferencia. Mediante el sitio web Poderopedia.org los usuarios serán notificados de la ocurrencia de alguno de los eventos señalados. Si el usuario no estuviese de acuerdo con el cambio de propiedad de Poderopedia o con el nuevo administrador, en cualquier momento podrá optar por dejar de formar parte de Poderopedia.</p></li>
 
        <li><span>c.</span>   Contacto y notificaciones</li><p></p>

        <p>Las preguntas, sugerencias o comentarios acerca de las Condiciones y Términos de Uso de Poderopedia deben dirigirse a la etiqueta “contacto” del sitio <a href="http://www.poderopedia.org" tagert="_blank">http://www.poderopedia.org</a> Las notificaciones a Fundación Poderomedia deberán dirigirse a Pasaje Irene Ariztía 548, oficina 4, comuna de Santiago.</p>
 
        <li><span>d.</span>   Domicilio<p></p>
        
        <p>Fundación Poderomedia y el usuario fijan domicilio en la ciudad y comuna de Santiago, Región Metropolitana, República de Chile.</p></li>
 
        <li><span>e.</span>   Arbitraje<p></p>
        
        <p>Tanto Fundación Poderomedia como los usuarios convienen en que cualquier diferencia, dificultad, duda o controversia que pueda surgir entre las partes, ya sea con motivo de la aplicación, interpretación, cumplimiento, incumplimiento, ejecución, eficacia, vigencia, resolución, rescisión, nulidad o validez del presente instrumento o con motivo de los servicios de Poderopedia, será resuelta por un árbitro arbitrador, sin forma de juicio, en única instancia y sin ulterior recurso, salvo el de reposición, aclaración, rectificación o enmienda deducido ante el mismo árbitro. La sede del arbitraje será la ciudad de Santiago. La designación del árbitro será efectuada por las partes, de común acuerdo. En caso contrario, la designación será efectuada, a petición de cualquiera de las partes, por la Justicia Ordinaria Civil.</p></li>
    	</ul> <!--Fin Lista Segundaria-->
   </li>
    
    <li><h3><span>08 -</span> Definiciones</h3><p></p>
    <ul> <!--Lista Segundaria-->
        <li><span>a.</span>     Fundación Poderomedia o Poderomedia: persona jurídica sin fines de lucro, titular del sitio web Poderopedia.org.</li>
        <li><span>b.</span>    Poderopedia: sitio web Poderopedia.org, a través del cual se accede a una base de datos editorial participativa que registra y permite visualizar las relaciones y conexiones entre las personas, empresas y organizaciones de interés público a fin de indicar quién es quién en los negocios y la política en Chile.</li>
        <li><span>c.</span> 	Servicios o servicios básicos: acceso a la base de datos de Poderopedia, a través de la página web www.poderopedia.org. No considera los servicios preferenciales pagados.</li>
        <li><span>d.</span>	Servicios preferenciales pagados: servicios prestados por Fundación Poderomedia a los usuarios que desean un acceso con mayor valor agregado del provisto por los servicios básicos.</li>
        <li><span>e.</span>	Usuario: persona natural (mayor de 14 años) o jurídica que accede a los servicios básicos o servicios preferenciales pagados de Poderopedia.</li>
        
    	</ul><!--Fin Lista Segundaria-->
	</li>
                    </ol> <!--Fin Lista principal-->  
    	</div>

		</section>
     </div>
   </div>

</div>
