{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}
  
<div class="row">

 	<div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Prensa</span></h3>
                    </hgroup>
                <div id="subindex" class="width-complete"><!-- .width-complete -->
                    <div class="row-division clearfix"><!-- .row-division -->
                        <h3 class="border-bottom">En las noticias</h3>
                        
                        <blockquote>
            				<img src="{{=URL('static','img/tnw_logo.png')}}" width="295">
            				<p>Poderopedia puede ayudar a los medios y el público a entender las conexiones entre políticos, sus intereses y las decisiones que toman. Su audiencia puede incluir... <a href="http://thenextweb.com/media/2012/03/16/poderopedia-a-data-journalism-project-to-map-the-chilean-elite/" target="_blank">Más ></a></p>
        				</blockquote>
        				
        				<blockquote>
            				<img src="{{=URL('static','img/logo_fayerwayer.png')}}" width="290">
            				<p>Proyecto chileno “Poderopedia” está entre los más innovadores del observatorio Netexplo. Cada año, el observatorio de innovaciones digitales Netexplo identifica a los últimos ... <a href="http://www.fayerwayer.com/2012/02/poderopedia-fue-incluida-entre-los-proyectos-digitales-innovadores-de-netexplo/" target="_blank">Más ></a></p>
        				</blockquote>
      
            			<blockquote>
            				<img src="{{=URL('static','img/TwitterNgood.png')}}" width="100"> <!--solo para esta imagen se agrego el width para dejarla a razon de las demas-->
            				<p>Piensa Wikipedia + Klout para el gobierno: Poderopedia es un índice de los más poderosos de Chile. <a href="http://www.niemanlab.org/2011/06/think-wikipedia-klout-for-government-poderopedia-is-an-index-of-chiles-most-powerful/" target="_blank">Más ></a></p>
        				</blockquote>
        
            			<blockquote>
            				<img src="{{=URL('static','img/elmercurio.jpg')}}">
            				<p>Poderopedia es uno de los dos casos “muy destacables” de la “armada chilena” en SXSW Interactive. <a href="http://poderopedia.tumblr.com/post/19783843037/el-mercurio-dice-que-poderopedia-es-uno-de-los-dos" target="_blank">Más ></a></p>
        				</blockquote>
                        
                       </div>
                    </div><!-- .row-division -->

                  <!--  <div class="row-division clearfix"><!-- .row-division 
                         <p></p><h3 class="border-bottom">Kit de Prensa</h3>
                        <p>Hemos preparado un set básico de recursos sobre Poderopedia para periodistas, medios y organizaciones.</p>
                        <div class="surrounded archivos">
                            <h5>Archivos relacionados</h5>
                            <p><a href="#" class="pfd">Lorem ipsum</a><span>↓ Descargar (PDF 3,1Mb)</span></p>
                            <p><a href="#" class="pfd">Lorem ipsum</a><span>↓ Descargar (PDF 3,1Mb)</span></p>
                            <p><a href="#" class="pfd">Lorem ipsum</a><span>↓ Descargar (PDF 3,1Mb)</span></p>
                        </div>
     
                        <span class="span3 kit">
                            <img src="{{ =URL('static','tmp/mashable.png') }}" width="183" height="49" alt="Mashable">
                            <p><a href="#">Bajar archivo EPS</a><br>
                            <a href="#">Bajar PNG</a></p>
                        </span>
                        <span class="span3 kit">
                            <img src="{{ =URL('static','tmp/mashable.png') }}" width="183" height="49" alt="Mashable">
                            <p><a href="#">Bajar archivo EPS</a><br>
                            <a href="#">Bajar PNG</a></p>
                        </span>
                        <span class="span3 kit">
                            <p><a href="#" class="kitcompleto">BAJAR KIT COMPLETO (.zip 6,8mb)</a></p>
                        </span>
                    </div> .row-division -->
                    
                    
                    <div class="row-division clearfix"><!-- .row-division -->
                        <h3 class="border-bottom">Contacto de Prensa</h3>
                        <p>Para consultas de prensa, entrevistas y más información sobre Poderopedia por favor escribe a <a>info@poderopedia.com</a>.</p>
                    </div><!-- .row-division -->
                    
                                                            
                    <div class="row-division clearfix" align="justify"><!-- .row-division -->
                        <p></p><h3 class="border-bottom">¿Qué es Poderopedia?</h3>
                        <p>Poderopedia es una plataforma colaborativa de periodismo de datos que mapea quién es quién en los negocios y la política en Chile.</p> 
						<p>Usando información pública, visualizaciones de datos y tecnología semántica, Poderopedia te ayuda a entender las relaciones entre las personas, empresas y organizaciones de interés público, para reflejar eventuales conflictos de interés y promover una mayor transparencia para todos.</p>
						<p>¿Más preguntas? Por favor visita <a href="=URL('ayuda','preguntas_frecuentes')">Preguntas Frecuentes</a></p>
                    
                    </div><!-- .row-division -->

                    <div class="row-division clearfix" align="justify"><!-- .row-division -->
                        <p></p><h3 class="border-bottom">Identidad</h3>
                        <p><img src="{{ =URL('static','img/logo-footer.png') }}"></p>
                        <!--<p><a href="#" class="btn btn-primary">Download Logo →</a></p>-->
                    
                    </div><!-- .row-division -->
                    <div class="row-division clearfix" align="justify"><!-- .row-division -->
                        <p></p><h3 class="border-bottom">Manual de Normas Gráficas</h3>
                        <p>Ayúdanos a mantener la consistencia de nuestra marca siguiendo las normas gráficas de Poderopedia para uso en impresos y web. En este Manual encontrarás nuestros logotipos, tipografías y colores oficiales que harán más fácil tu trabajo.</p>
                        <p><a href="{{=URL('uploads','kit-poderopedia/Brand_Identity_Guideline.pdf')}}" class="btn btn-primary">Download Normas →</a></p>
                    
                    </div><!-- .row-division -->
                                        
                </section>
                <!-- /centerCol -->
        </div>
     </div>
</div>
