<div id="botonmesano" class="clearfix">
	<h4>Ordenar por</h4>
	<a href="#" class="btn">RELEVANCIA</a>
	<div class="btn-group">
	  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	    A / Z
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <!-- dropdown menu links -->
		<li><a href="#">opción 1</a></li>
		<li><a href="#">opción 2</a></li>
		<li><a href="#">opción 3</a></li>
		<li><a href="#">opción 4</a></li>
		<li><a href="#">opción 5</a></li>
	  </ul>
	</div>
	<a href="#" class="btn">TIPO DE VÍNCULO</a>
	<a href="#" class="btn">FECHA</a>
	<div id="orderMenu">
		<a href="#" class="sugest">[ sugiere a un amigo ]</a>
		<div id="listDisplay">
			<a href="#" id="list">
				<img src="{{ =URL('static','img/ico-list.gif') }}" />
			</a>
			<a href="#" id="box">
				<img src="{{ =URL('static','img/ico-block.gif') }}" />
			</a>
		</div>
	</div>
</div>