<div class="breadcrumbs-list">
  <ul>
    <li> <a href="#">Perfiles</a> <span class="divider">&raquo;</span> </li>
    <li> <a href="#">Personas</a> <span class="divider">&raquo;</span> </li>
    <li> <a href="#">Roberto Angelini Rossi</a> <span class="divider">&raquo;</span> </li>
    <li class="active">Personas Relacionadas</li>
  </ul>
  <ul class="tools">
    <li><i class="icon-envelope"></i> <a href="#">Enviar a un amigo</a></li>
    <li><i class="icon-print"></i> <a href="#">Imprimir</a></li>
  </ul>
</div>