<!--botones de selección-->
{{ include 'includes/botones-list-directorio.html' }}
<!--boones de selección-->

<!--menu-abecedario-->
{{ include 'includes/menu-abecedario.html' }}
<!--menu-abecedario-->

<div class="row-division directorio clearfix">

	<!--hgroup-->
  <hgroup class="box-heading clearfix">
    <h3 id="resultado_a"><span>A</span> (5534) &darr;</h3>
    <a href="#" class="hint">Ver más &gt;</a>
  </hgroup>
  <!--hgroup-->

  <ul class="faces-ul">
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
	          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
  </ul>

	<!--hgroup-->
  <hgroup class="box-heading clearfix">
    <h3 id="resultado_a"><span>B</span> (5534) &darr;</h3>
    <a href="#" class="hint">Ver más &gt;</a>
  </hgroup>
  <!--hgroup-->

  <ul class="faces-ul">
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
	          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
    <li> <img src="{{ =URL('static','tmp/avatar-45.gif') }}" />
      <ul class="info">
        <li>
          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
        </li>
        <li>
          <p><span>Padre (1922 - 2011)</span></p>
        </li>
        <li class="vermas">
          <p><a href="#">ver m&aacute;s &gt;</a></p>
        </li>
      </ul>
    </li>
  </ul>

</div>

<!--Pagination-->
{{block pagination}}
{{ include 'includes/pagination.html'}}
{{end}}
<!--Pagination end-->
