
   <div class="content-group"><!-- .content-group -->
   		
	<div class="content-heading clearfix">
         	<h4>
                 Datos Básicos <span>( 12 Items )</span> 
            </h4>
        </div>

    <div class="content-body">
           	<div class="accordion-inner">
                <dl class="listDatos clearfix">
				  	<dt>Nombre(s)</dt>
				    	<dd> Juan</dd>
				</dl>
				<dl class="listDatos clearfix">
				  	<dt>Apellido 1</dt>
				    	<dd>Mendez</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Apellido 2</dt>
					    <dd>Mendez</dd>
				</dl>
				<dl class="listDatos clearfix">	
					<dt>Nombre Corto</dt>
						<dd>Juan Mendez</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Reseña</dt>
					    <dd>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>País de residencia</dt>
					    <dd>Chile</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Sector Principal</dt>
						<dd>Mineria</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Sector Secundario</dt>
						<dd>Agricultura</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Otros sectores</dt>
						<dd>Bancos</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Fecha de nacimiento</dt>
						<dd>30/11/81</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Pais de nacimiento</dt>
						<dd>Chile</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Ciudad de Nacimiento</dt>
						<dd>Santiago</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Estado Civil</dt>
						<dd>Casado</dd>
				</dl>
            </div>
        </div>


		<div class="content-heading clearfix">
	         	<h4>
	                 Familia <span>( 9 Items )</span> 
	            </h4>
	        </div>

	    <div class="content-body">
	           	<div class="accordion-inner">
	                <dl class="listDatos clearfix">
					  	<dt>Padre</dt>
					    	<dd> Juan Perez</dd>
					</dl>
					<dl class="listDatos clearfix">
					  	<dt>Madre</dt>
					    	<dd>Josefina Mendez</dd>
					</dl>
					<dl class="listDatos clearfix">
						<dt>Tios</dt>
					    <dd>
							<ul>
								<li>Pedro Perez</li>
								<li>Pedro Perez</li>
							</ul>
						</dd>
					</dl>
					<dl class="listDatos clearfix">	
						<dt>Hijos Matrimonio</dt>
					    <dd>
							<ul>
								<li>Pedro Perez</li>
								<li>Pedro Perez</li>
							</ul>
						</dd>
					</dl>
					<dl class="listDatos clearfix">
						<dt>Hermanos</dt>
						    <dd>
								<ul>
									<li>Pedro Perez</li>
									<li>Pedro Perez</li>
								</ul>
							</dd>
					</dl>

	            </div>
	        </div>

			<div class="content-heading clearfix">
		         	<h4>
		                 Otro t&iacute;tulo de esta secci&oacute;n <span>( 9 Items )</span> 
		            </h4>
		        </div>

		    <div class="content-body">
		           	<div class="accordion-inner">
		                <dl class="listDatos clearfix">
						  	<dt>Informaci&oacute;n</dt>
						    	<dd>Nam rutrum tellus sed purus dapibus a facilisis ipsum sagittis! Aliquam venenatis lacus a mi <a>eleifend eu ultricies</a> nunc venenatis</dd>
						</dl>
		                <dl class="listDatos clearfix">
						  	<dt>Informaci&oacute;n</dt>
						    	<dd>Nam rutrum tellus sed purus dapibus a facilisis ipsum sagittis! Aliquam venenatis lacus a mi <a>eleifend eu ultricies</a> nunc venenatis</dd>
						</dl>
		            </div>
		        </div>
   
	</div><!-- .content-group -->



