<!-- tertiaryNav -->

                    <nav class="tertiary-nav">
                        <ul>
                            <li class="current"><a href="#">ACERCA DE</a>
								<ul class="expanded">
									<li><a href="{{=URL('acercade','index')}}">Qué es Poderopedia</a></li>
                                    <li><a href="{{=URL('acercade','equipo')}}">Equipo</a></li>
									<li><a href="{{=URL('acercade','prensa')}}">Prensa</a></li>
                                    <li><a href="http://blog.poderopedia.org">Blog</a></li>
                                    <li><a href="{{=URL('acercade','contactanos')}}">Contacto</a></li>
                                    <li><a href="{{=URL('acercade','condiciones_de_uso')}}">Términos de uso</a></li>
                                    <li><a href="{{=URL('acercade','politica_de_privacidad')}}">Política de privacidad</a></li>
								</ul>
							</li>
                            <li><a href="{{=URL('desarrolladores','ontologia')}}">DESARROLLADORES</a></li>
                            <li><a href="{{=URL('comunidad','index')}}">COMUNIDAD</a></li>
                            <li><a href="{{=URL('ayuda','index')}}">AYUDA</a></li>
                        </ul>
                    </nav>

                    <!-- /tertiaryNav -->
