<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
  <h5>&darr; Mis Notificaciones</h5>
</hgroup>
<div class="widget widget-sources clearfix">
  <a href="#" class="notify"><span class="baloon">23</span>Nuevas notificaciones</a>
</div>

<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
  <h5>&darr; He Creado</h5>
</hgroup>
<div class="widget widget-sources clearfix">
  <ul class="websites-sources">
      <li><a href="#">Personas <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Empresas <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Organizaciones <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Mapas <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Casos <span class="badgeNum">(12)</span></a></li>
  </ul>
 </div>

<hgroup class="widget-heading widget-filter widget-persona heading clearfix">
  <h5>&darr; Mis Colaboraciones</h5>
</hgroup>
<div class="widget widget-sources clearfix">
  <ul class="websites-sources">
      <li><a href="#">Personas<span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Empresas <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Organizaciones <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Mapas <span class="badgeNum">(12)</span></a></li>
      <li><a href="#">Casos <span class="badgeNum">(12)</span></a></li>
  </ul>
 </div>
<!-- /sourcesWidget --> 
