<!-- tertiaryNav -->
                    <nav class="tertiary-nav">
                        <ul>
                            <li class="current"><a href="#">ACERCA DE</a>
								<ul class="expanded">
									<li><a href="#">Qué es Poderopedia</a></li>
									<li><a href="#">Equipo</a></li>
									<li><a href="#">Prensa</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contacto</a></li>
                                    <li><a href="#">Términos de uso</a></li>
                                    <li><a href="#">Política de privacidad</a></li>
								</ul>
							</li>
                            <li><a href="http://dev.poderopedia.org">DESARROLLADORES</a></li>
                            <li><a href="http://comunidad.poderopedia.org">COMUNIDAD</a></li>
                            <li><a href="http://ayuda.poderopedia.org">AYUDA</a></li>
                        </ul>
                    </nav>
                    <!-- /tertiaryNav -->
