@CHARSET "UTF-8";

html {
    border: 0 none;
    margin: 0;
    padding: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
body {
    background: none repeat scroll 0 0 white;
    line-height: 1.5;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    float: none !important;
    font-weight: normal;
    text-align: left;
}
table, th, td {
    vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: medium none;
}
:focus {
    outline: 0 none;
}
.calendar {
    background: none repeat scroll 0 0 #D4D0C8;
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    cursor: default;
    display: none;
    font-family: tahoma,verdana,sans-serif;
    font-size: 11px;
    position: relative;
    z-index: 99;
}
.calendar table {
    background: none repeat scroll 0 0 #D4D0C8;
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    cursor: default;
    font-family: tahoma,verdana,sans-serif;
    font-size: 11px;
}
.calendar .button {
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    text-align: center;
}
.calendar .nav {
    background: none repeat scroll 0 0 transparent;
}
.calendar thead .title {
    background: none repeat scroll 0 0 #848078;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1px;
    text-align: center;
}
.calendar thead .name {
    background: none repeat scroll 0 0 #F4F0E8;
    border-bottom: 1px solid #000000;
    padding: 2px;
    text-align: center;
}
.calendar thead .weekend {
    color: #FF0000;
}
.calendar thead .hilite {
    background-color: #E4E0D8;
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 2px;
    padding: 0;
}
.calendar thead .active {
    background-color: #C4C0B8;
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px 0 0 2px;
}
.calendar tbody .day {
    padding: 2px 4px 2px 2px;
    text-align: right;
    width: 2em;
}
.calendar tbody .day.othermonth {
    color: #AAAAAA;
    font-size: 80%;
}
.calendar tbody .day.othermonth.oweekend {
    color: #FFAAAA;
}
.calendar table .wn {
    background: none repeat scroll 0 0 #F4F0E8;
    border-right: 1px solid #000000;
    padding: 2px 3px 2px 2px;
}
.calendar tbody .rowhilite td {
    background: none repeat scroll 0 0 #E4E0D8;
}
.calendar tbody .rowhilite td.wn {
    background: none repeat scroll 0 0 #D4D0C8;
}
.calendar tbody td.hilite {
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    padding: 1px 3px 1px 1px;
}
.calendar tbody td.active {
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px 2px 0;
}
.calendar tbody td.selected {
    background: none repeat scroll 0 0 #E4E0D8;
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    padding: 2px 2px 0;
}
.calendar tbody td.weekend {
    color: #FF0000;
}
.calendar tbody td.today {
    color: #0000FF;
    font-weight: bold;
}
.calendar tbody .disabled {
    color: #999999;
}
.calendar tbody .emptycell {
    visibility: hidden;
}
.calendar tbody .emptyrow {
    display: none;
}
.calendar tfoot .ttip {
    background: none repeat scroll 0 0 #848078;
    border: 1px solid #000000;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
.calendar tfoot .hilite {
    background: none repeat scroll 0 0 #E4E0D8;
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}
.calendar tfoot .active {
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px 0 0 2px;
}
.calendar .combo {
    background: none repeat scroll 0 0 #E4E0D8;
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: none;
    font-size: 90%;
    left: 0;
    padding: 1px;
    position: absolute;
    top: 0;
    width: 4em;
    z-index: 100;
}
.calendar .combo .label, .calendar .combo .label-IEfix {
    padding: 1px;
    text-align: center;
}
.calendar .combo .label-IEfix {
    width: 4em;
}
.calendar .combo .active {
    background: none repeat scroll 0 0 #C4C0B8;
    border-color: #000000 #FFFFFF #FFFFFF #000000;
    border-style: solid;
    border-width: 1px;
    padding: 0;
}
.calendar .combo .hilite {
    background: none repeat scroll 0 0 #004488;
    color: #FFEEAA;
}
.calendar td.time {
    background-color: #F4F0E8;
    border-top: 1px solid #000000;
    padding: 1px 0;
    text-align: center;
}
.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
    background-color: #FFFFFF;
    border: 1px solid #888899;
    font-weight: bold;
    padding: 0 3px 0 4px;
}
.calendar td.time .ampm {
    text-align: center;
}
.calendar td.time .colon {
    font-weight: bold;
    padding: 0 2px 0 3px;
}
.calendar td.time span.hilite {
    background-color: #776666;
    border-color: #000000;
    color: #FFFFFF;
}
.calendar td.time span.active {
    background-color: #000000;
    border-color: #FF0000;
    color: #00FF00;
}
#CP_hourcont {
    background-color: #EEEEEE;
    border: 1px dashed #666666;
    display: none;
    padding: 0;
    position: absolute;
    z-index: 99;
}
#CP_minutecont {
    background-color: #DDDDDD;
    display: none;
    padding: 1px;
    position: absolute;
    width: 45px;
    z-index: 99;
}
.floatleft {
    float: left;
}
.CP_hour {
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    padding: 1px;
    white-space: nowrap;
    width: 35px;
    z-index: 99;
}
.CP_minute {
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    padding: 1px;
    white-space: nowrap;
    width: auto;
    z-index: 99;
}
.CP_over {
    background-color: #FFFFFF;
    z-index: 99;
}
* {
    margin: 0;
    padding: 0;
}
body {
    color: #3D3D3D;
}
#body {
    clear: right;
}
body, table td {
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: small;
}
a.title {
    font-size: 200%;
}
a {
    color: #53ABCC;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    background-color: #53ABCC;
    color: #FFFFFF;
    text-decoration: none;
}
h1 {
    font-size: 350%;
}
h2, .title h1 {
    font-size: 200%;
}
h3, table > caption {
    font-size: 120%;
}
h1, h2, .title h2 a, h3, h4, h5, h6, table > caption {
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6, table > caption {
    color: #3D3D3D;
}
#header {
    border-bottom: 1px solid #F5F5F5;
}
#header #hbody {
    line-height: normal;
    padding-top: 5px;
}
#header .menu {
    float: right;
}
#header .menu > li {
    float: left;
    margin-left: 10px;
}
.menu > li a:hover {
    text-decoration: none;
}
#header .menu > li a:hover {
    background-color: #FFFFFF;
    border-bottom: 2px solid #53ABCC;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    color: #53ABCC;
    padding-bottom: 1px;
}
#header .menu li a:link, #header .menu li a:visited {
    text-decoration: none;
}
#body, #hbody, #fbody {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.menu, .menu ul, .menu ol {
    list-style: none outside none;
}
#topbanner {
    background: none repeat scroll 0 0 gray;
    height: 130px;
    margin-top: 20px;
    width: 100%;
}
#footer {
    background-color: #3D3D3D;
    color: #FFFFFF;
    margin-top: 50px;
    padding-top: 15px;
}
#footer a {
    color: #FFFFFF;
    font-weight: normal;
}
#footer h3 {
    color: #FFFFFF;
    font-weight: bold;
}
#footer .menu {
    float: left;
    margin-right: 100px;
}
#footer .menu li a:hover {
    background-color: #FFFFFF;
    color: #3D3D3D;
}
#footer .copyright {
    clear: left;
    padding-bottom: 5px;
    padding-top: 25px;
    text-align: center;
}
table.styled {
    border: thin solid #CACACA;
    border-collapse: collapse;
    margin-top: 15px;
}
table {
    caption-side: top;
}
table > caption {
    margin-bottom: 5px;
}
table.styled tr td, table.styled tr th {
    border: thin dotted #CACACA;
}
td, th {
    padding: 5px;
}
table.styled th {
    background-color: #F5F5F5;
    font-weight: bold;
}
.horizontal-expand {
    width: 100%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.cellcolor {
    background-color: #FCBA7A;
}
.bar-buttons {
    margin-top: 10px;
}
.bar-buttons .button {
    border: 1px solid;
    margin-right: 3px;
    padding: 5px 20px;
}
input, textarea {
    border: 1px solid #CACACA;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
}
a.button, input, textarea {
    padding: 4px;
}
input[type="submit"], input[type="button"] {
    background: none repeat scroll 0 0 #ECECEC;
    border-radius: 14px 14px 14px 14px;
    color: #3C3C3D;
    cursor: pointer;
}
a.button, input[type="submit"], input[type="button"] {
    padding: 4px 15px;
}
a.button, input[type="submit"], input[type="button"] {
    font-style: normal;
    font-weight: normal;
}
a.primary[class="button"], input[type="submit"], input.primary[type="button"] {
    font-style: normal;
    font-weight: bold;
}
input.cancel[type="button"], input.cancel[type="submit"], input.cancel[type="button"] {
    float: right;
}
input:focus, textarea:focus {
    border: 1px solid #666666;
    outline-width: 0;
}
input:hover, textarea:hover {
    border: 1px solid #666666;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #CACACA;
    color: #3C3C3D;
    text-shadow: none;
}
input, textarea {
    margin-left: 4px;
    margin-top: 4px;
}
.flash_message {
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 10px;
}
.flash_message p {
    background-color: #FEFFCE;
    border: 1px solid #FDFFAC;
    color: #B0AF84;
    padding: 10px;
}



/** error **/
label.error { background: url('../img/alert.png') no-repeat; color: #DE5130; display: block; float: left; font: 10px verdana; height: 16px; margin: 5px 3px 0 10px; padding-left: 21px; padding-top: 2px; }

input.error, select.error, textarea.error { background-color: #FAF4F4; }


div.error { background: url('../img/alert.png') no-repeat !important; padding-left: 21px !important; padding-top: 2px !important; color: #DE5130 !important; height: 16px !important; font: 12px verdana !important; margin: 5px 3px 0 10px !important;}

div.w2p_fc { margin: 5px 3px 0 10px !important; color:#369 !important;}

div.w2p_fc .error {margin: 5px 3px 0 0px !important;}

/**tables*/

table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}
table td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}
.w2p_fl
{
    background: #d0dafd;
    border-right: 10px solid transparent;
}
table tr:hover
{
    color: #339;
    background: #eff2ff;
}

div.flash {
    font-weight: bold;
    display: none;
    
    padding: 10px;
   
    min-width: 280px;
    opacity: 0.85;
    margin: 0px 0px 0px 0px;    
    color: #fff;    
    vertical-align: middle;
    cursor: pointer;
    background: #000;
    border: 2px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 2;
}

