@CHARSET 'UTF-8'; 

/* This CSS does not belong to the plugin. */

body { background: url('../img/background.gif'); font: normal 11px verdana; }

a { color: #2C8CBD; text-decoration: none; }
a:hover { color: #48A5D4; }

a#coffee {
	background: url('../img/coffee.png') 6px 2px no-repeat #DC5; border: 1px solid #D9C640; color: #FFF; display: block; float: right; font-size: 10px; font-weight: bold; letter-spacing: .9px; margin-right: 9px; padding: 4px 5px 4px 26px; text-decoration: none;
	-khtml-border-radius: 4px; -moz-border-radius: 4px; -opera-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
a#coffee:hover { text-decoration: underline; }

span.comment { color: #999; font: 12px monospace; letter-spacing: .1px; margin-bottom: 7px; margin-top: 5px; }

div#content { background-color: #FFF; border: 1px solid #DEDEDE; box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4); margin: 0 auto; padding: 15px; width: 1100px; min-height: 510px; }

div.description { color: #555; letter-spacing: .1px; margin-bottom: 20px; margin-top: 15px; text-align: left; }

div.description-code { color: #555; letter-spacing: .1px; margin-bottom: 10px; text-indent: 7px; }

div#footer { clear: both; height: 25px; margin-top: 5px; width: 100%; }
div#footer div#copy { margin: 0 auto; text-align: center; width: 1100px; }

div#header { margin: 0 auto; padding-left: 20px; width: 1130px; }

div#menu { color: #AB9927; font: bold 14px 'Lucida Grande', 'Helvetica', 'Times New Roman', serif; text-shadow: 1px 1px 1px #FFF; text-transform: uppercase; }
div#menu a { color: #EA9C00; font: bold 10px verdana; letter-spacing: .9px; text-decoration: none; }
div#menu a:hover { color: #DC5; font-weight: bold; letter-spacing: .9px; text-decoration: underline; }

div.session { font: bold 13px verdana; border-bottom: 1px solid #EFEFEF; color: #444; letter-spacing: .7px; margin-bottom: 18px; margin-top: 24px; text-align: left; }
div.session-first { font: bold 13px verdana; border-bottom: 1px solid #EFEFEF; color: #444; letter-spacing: .7px; margin-bottom: 18px; text-align: left; }

div.source { background: #F8F8FF; border: 1px solid #EFEFEF; border-left: 3px solid #CCC; color: #444; font: 12px monospace; border-radius: 2px; letter-spacing: .1px; margin-bottom: 7px; margin-top: 15px; padding: 7px; width: 1081px; -khtml-border-radius: 2px; -moz-border-radius: 2px; -opera-border-radius: 2px; -webkit-border-radius: 2px; }
div.source div.comment { color: #777; font: 9px verdana; letter-spacing: 0.4px; margin-bottom: 9px; text-align: left; }

div#title { font: bold 17px verdana; color: #269; letter-spacing: .7px; margin-bottom: 20px; text-align: left; }
div#title span { color: #777; font: 10px verdana; }

span#version { color: #777; font: 10px verdana; }


/* wbotelhos.com/gridy */

span.attribute { color: #369; }

div#menu-feature { color: #AAA; height: 75px; margin-bottom: 65px; }
div#menu-feature a { float: left; width: 120px }
div#menu-feature a.selected { color: #2C8CBD; cursor: default; font-weight: bold; }

div.session-mini { font: bold 10px verdana; color: #444; letter-spacing: .7px; margin-top: 17px; }