{{if organizacion!= None: response.title = organizacion.alias+' | Empresas Relacionadas | Poderopedia' }} {{pass}}
{{if (organizacion.shortBio!=None)&(organizacion.shortBio!=''): response.meta.description = organizacion.shortBio[:200]}} {{pass}}
{{extend 'visualizacionLayout.html'}}

{{block sidebar }}
{{ include 'include/sidebar_organizacion.html' }}
{{end}}

{{block modales}}

<!--Lightbox_sugerirconexion-->
<div class="modal hide fade" id="Lightbox_sugerirconexion">
<div class="modal-header clearfix">
            <button type="button" class="close" data-dismiss="modal">Cerrar</button>
      </div>
	<div class="modal-body">
        <div id="sugerir_persona_organizacion"></div>
    </div>
 </div>
<!--Fin Sugerir Conexion--> 
{{end}}

{{=LOAD('services','Org_relation_empresa.load',args=_id,target='Org_relation_empresa',ajax=True,content=IMG(_src=URL('static','images/loading.gif'),_alt='loading',_width='50',_height='50'))}}





<!-- inlineScripts -->
<link rel="stylesheet" href="{{ =URL('static','lib/jwysiwyg/jquery.wysiwyg.css') }}">

<script src="{{ =URL('static','lib/jwysiwyg/jquery.wysiwyg.js') }}"></script>

<script>


    /*
     * This Page Related
     */
    $('body').addClass('page-person page-person-profile');

    /*
     * Append 'other' input field when specific
     * option selected (in dropdown).
     *
     * Change root selector for more accuracy.
     */
    $('select[data-interact-id="person-sector"]').change(function() {
        var target = $(this).attr('data-interact-append-id');

        if($(this).val() === 'Otro') {
            $('div[data-interact-id="' + target + '"]').fadeIn();
        }
        else {
            $('div[data-interact-id="' + target + '"]').fadeOut();
        }

    }).change();

    /*
     * WYSIWYG
     */
    $('.input-tarea').wysiwyg({
        autoGrow: true,
        controls: 'bold,italic,underline,strikeThrough,justifyLeft,justifyCenter,justifyRight,insertOrderedList,insertUnorderedList,insertHorizontalRule,cut,copy,paste,html,|,undo,redo',
        initialContent: ''
    });
</script>
<!-- /inlineScripts -->
