{{extend 'visualizacionLayoutCuentas.html'}}

{{block sidebar}}
{{ if (auth.has_membership('administrator')) | (auth.has_membership('editor')):}}
{{=LOAD('default','sidebar_cuenta.load',target='sidebar_cuenta',ajax=True,content=IMG(_src=URL('static','images/loading.gif'),_alt='loading',_width='50',_height='50'))}}
{{pass}}
{{end}}
{{=form.custom.begin}}
    <hgroup class="search-results historial-head clearfix">
        <h3 class="search-awnser">
            <img src="{{ =URL('static','tmp/avatar-45.gif') }}" class="imagen-perfil-ch" />
            <span class="perfil-results">{{=auth.user.user_name}}</span>
            <button href="#" class="btn btn-primary btn_save" onclick="this.form.submit()"><i class="icon-check icon-white"></i> Guardar</button>
        </h3>
    </hgroup>
    <div class="row-division clearfix forms"><!-- .row-division -->

        <!--hgroup-->
        <hgroup class="box-heading clearfix">
            <h3>Informaci&oacute;n B&aacute;sica de mi Perfil &darr;</h3>
        </hgroup>
        <!--hgroup-->
        {{if form.errors:}}
        <div class="control-group">
            <div class="controls">
                <div class="alert">
                    <img src="{{ =URL('static','img/img_warning.gif') }}" class="img_warning"/>
                                <span class="txt_alert">
                                    {{=T('Se han encontado errores al procesar su Regitro')}}

                                        {{for fieldname in form.errors:}}
                                         <p>{{=fieldname}} error: {{=form.errors[fieldname]}}</p>
                                        {{pass}}



                                </span>
                </div>
            </div>
            <div class="controls">
            </div>
        </div>
        {{pass}}

        <div class="form-horizontal">
            <fieldset>
                {{if form.errors['old_password']!=None:}}<div class="control-group warning">{{form.errors['old_password']=""}}
                {{else:}}<div class="control-group">
                {{pass}}
                    <label for="focusedInput" class="control-label">Contraseña Actual<span class="req">*</span></label>
                    <div class="controls">
                        {{=form.custom.widget.old_password}}
                    </div>
                </div>
                {{if form.errors['new_password']!=None:}}<div class="control-group warning">{{form.errors['new_password']=""}}
                {{else:}}<div class="control-group">
                {{pass}}
                    <label for="focusedInput" class="control-label">Nueva Contraseña<span class="req">*</span></label>
                
                    <div class="controls"> 
                        {{=form.custom.widget.new_password}}
                    </div>
                    <br><p><span class="detalle" align="center">Minimo 6 Caracteres</span></p>
                </div>
                    {{if form.errors['new_password2']!=None:}}<div class="control-group warning">{{form.errors['new_password2']=""}}
                    {{else:}}<div class="control-group">
                    {{pass}}
                    <label for="focusedInput" class="control-label">Verifique Contraseña<span class="req">*</span></label>
                    <div class="controls">
                        {{=form.custom.widget.new_password2}}
                    </div>
                </div>
                <div class="soporte-accion">
                    <span class="sop_req"><span class="req">*</span> Campos Obligatorios</span>
                    <button href="#" class="btn btn-primary btn_save" onclick="this.form.submit()"><i class="icon-check icon-white"></i> Guardar</button>
                </div>
            </fieldset>
        </div>

    </div><!-- .row-division -->
{{=form.custom.end}}


<!-- /centerCol -->
