{{extend 'visualizacionLayoutCuentas2.html'}}


{{block sidebar}}

{{end}}

{{block leftcol}}

{{end}}

{{block tittle}}<title>Poderopedia - Cuenta Creada</title>{{end}}
<div class="row-division-center"><!-- .row-division -->

      <div class="modal-body">
          <img src="{{=URL('static','img/icon_gracias.png')}}" class="thanksIco" />
            <h2>¡Gracias!
            <p class="text-thanks">Tu cuenta ha sido creada con éxito.</p></h2>
      </div>
      <div class="modal-footer">
            <div class="detalle_cuenta_creada">
                            Para activarla por favor revisa tu correo electrónico <br />y valida tu cuenta siguendo las instrucciones enviadas.
                        </div>
            <!--<a href="#" class="btn btn-primary " data-dismiss="modal">Ir a mi correo</a>-->
      </div>

</div><!-- .row-division -->
