{{extend 'visualizacionLayoutCuentas2.html'}}

{{block sidebar}}

{{end}}

{{block leftcol}}

{{end}}
{{block tittle}}<title>Poderopedia - Olvidaste Contraseña</title>{{end}}
<div class="row-division-center"><!-- .row-division -->

<div class="modal-body">
	    	<h2>¿Olvidaste tu contrase&ntilde;a&quest; </h2>
				<h4>Introduce tu direcci&oacute;n de correo electr&oacute;nico<br /> para ayudarnos a encontrar tu cuenta Poderopedia.</h4>

    </div>

<div class="form-horizontal" id="ingresogeneral">

{{=form.custom.begin}}
{{if form.errors:}}    
  
            <div class="controls">
                <div class="alert">
                    <img src="{{ =URL('static','img/img_warning.gif') }}" class="img_warning"/>
                    <span class="txt_alert">
                        {{for fieldname in form.errors:}}
                             <p>{{=form.errors[fieldname]}}</p>
                            {{pass}}
					  </span>
                </div>
            </div>

        {{pass}}      
    <fieldset class="ingresogeneral">
       {{if form.errors['email']==None:}}<div class="control-group">
	 <label for="focusedInput" class="control-label">Email<span class="req">*</span></label>
            <div class="controls">
                {{=form.custom.widget.email}}
            </div>
        </div>
 
        {{else:}}
                 
        <div class="control-group warning">{{form.errors['email']=""}}
	 <label for="focusedInput" class="control-label">Email<span class="req">*</span></label>
            <div class="controls">
                {{=form.custom.widget.email}}
            </div>
            {{pass}}
           
        </div>

   <div class="soporte-accion">


       <button type="submit" class="btn btn-primary btn_save" >Enviar Direcci&oacute;n</button>

      </div>

    </fieldset>
    {{=form.custom.end}}
</div>
