<div class="sidebar">
  <aside>
    <br/>
    <h4>Index</h4>
    <ul>
      <li class="{% if page.title == "Register" %}active{% endif %}">
        <a href="{{ site.url }}/register.html">Register</a>
      </li>
      <li class="{% if page.title == "Entities" %}active{% endif %}">
        <a href="{{ site.url }}/entities.html">Entities</a>
      </li>
      <li class="{% if page.title == "Create an Entity" %}active{% endif %}">
        <a href="{{ site.url }}/create_entity.html">Create an Entity</a>
      </li>
      <li class="{% if page.title == "Add Connections to the Profile" %}active{% endif %}">
        <a href="{{ site.url }}/connections.html">Add Connections to the Profile</a>
      </li>
      <li class="{% if page.title == "Manage the Front Page" %}active{% endif %}">
        <a href="{{ site.url }}/manage_frontpage.html">Manage the Front Page</a>
      </li>
      <li class="{% if page.title == "Create Cases" %}active{% endif %}">
        <a href="{{ site.url }}/create_cases.html">Create Cases</a>
      </li>
      <li class="{% if page.title == "Manage Sources" %}active{% endif %}">
        <a href="{{ site.url }}/manage_sources.html">Manage Sources</a>
      </li>
      <li class="{% if page.title == "Managing Sources in Document Cloud" %}active{% endif %}">
        <a href="{{ site.url }}/managing_documentcloud.html">Managing Sources in Document Cloud</a>
      </li>
      <li class="{% if page.title == "Suggestions" %}active{% endif %}">
        <a href="{{ site.url }}/suggestions.html">Suggestions</a>
      </li>
    </ul>
  </aside>
</div>
