<div class="sidebar">
  <aside>
    <br/>
    <h4>Index</h4>
    <ul>
      <li class="{% if page.title == "Readme" %}active{% endif %}">
        <a href="{{ site.url }}/docs/home">Readme</a>
      </li>
      <li class="{% if page.title == "What is Plug & Play" %}active{% endif %}">
        <a href="{{ site.url }}/docs/whats">Whats is Plug & Play</a>
      </li>
      <li class="{% if page.title == "Features" %}active{% endif %}">
        <a href="{{ site.url }}/docs/features">Features</a>
      </li>
      <li class="{% if page.title == "Technology" %}active{% endif %}">
        <a href="{{ site.url }}/docs/technology">Technology</a>
      </li>
      <li class="{% if page.title == "Installing" %}active{% endif %}">
        <a href="{{ site.url }}/docs/installing">Installing</a>
      </li>
      <li class="{% if page.title == "Web Server Configuration" %}active{% endif %}">
        <a href="{{ site.url }}/docs/webserver">Web Server Configuration</a>
      </li>
      <li class="{% if page.title == "Settings" %}active{% endif %}">
        <a href="{{ site.url }}/docs/settings">Settings</a>
      </li>
      <li class="{% if page.title == "Customizing your Plug & Play Appearance" %}active{% endif %}">
        <a href="{{ site.url }}/docs/apperance">Customizing your Plug & Play Appearance</a>
      </li>
      <li class="{% if page.title == "Api Documentation" %}active{% endif %}">
        <a href="{{ site.url }}/docs/apidoc">API Documentation</a>
      </li>
      <li class="{% if page.title == "Supporters and License" %}active{% endif %}">
        <a href="{{ site.url }}/docs/supporters">Supporters and License</a>
      </li>
    </ul>
  </aside>
</div>
