<header>


    <div class="container">
        <h1 class="logo">
            <a href="http://www.poderopedia.com/">Poderopedia</a>
        </h1>

        <!-- primaryNav -->
        <nav class="primary-nav">
            

        </nav>

        <!-- /primaryNav -->

        <!-- loginPreview -->
        <div class="login-top">
            <a href="http://www.poderopedia.com/default/registrogeneral" class="tit_registro">Registrarse</a>
            <button class="btn btn-danger" onclick="location.href = 'http://www.poderopedia.com/default/ingresogeneral'">Ingresar</button>
        </div><!-- top -->
        <!-- about -->
        <div class="about">
            <a href="http://www.poderopedia.com/acercade/index" class="ddown-toggle last-nav">Sobre Poderopedia</a>
        </div>
        <!-- /about -->
    </div>


    <!-- sub-tool -->
    <div class="sub-tool">
        <div class="container">

            <!-- search -->
            <form class="form-inline" method="get" action="http://www.poderopedia.com/search/podersearch">
                <div class="input-append">
                    <input class="span4" id="appendedInputButton" size="16" name="q" type="text" placeholder="Buscar en todo Poderopedia"><button class="btn" type="button" onclick="this.form.submit()"></button>
                </div>
            </form>
            <!-- /search -->

            <!-- popular -->
            <span class="tit-sub">Documentación:</span>
            <div id="c147963953226"><ul class="popular">

                    <li><a href="http://poderopedia.github.io" title="Documentation">Plug and Play</a></li>

                </ul>
            </div>
            <!-- /popular -->

        </div>
    </div>
    <!-- /sub-tool -->

</header>
