{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}

<div class="row">

 	<div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Guía Paso a Paso</span></h3>
                    </hgroup>
                <div id="subindex" class="width-complete"><!-- .width-complete -->
                    <div class="row-division clearfix"><!-- .row-division -->
                        <p>Poderopedia es una plataforma colaborativa de periodismo de datos que mapea quién es quién en los negocios y la política en Chile. Usando información pública, visualizaciones de datos y tecnología semántica, Poderopedia registra las relaciones entre las personas, empresas y organizaciones de interés público, crea perfiles de ellas, mapas de conexiones y presenta documentos y fuentes relacionadas a con  para reflejar eventuales conflictos de interés y promover una mayor transparencia para todos.</p>

                        <p>A continuación encontraras una guía que te ayudará a dar tus primeros pasos como usuario de Poderopedia, para ver y colaborar con contenidos.</p>
                        
                        <h3>Usar Poderopedia es simple</h3>
                        
                        <ol>
                            <li><span><b>1.</b></span> En Poderopedia encontrarás perfiles de Personas, Empresas y Organizaciones, a las cuales llamamos entidades</li>
                            <p>La entidad posee 7 ítems básicos:</p>
							<ul>
                                <li>Datos básicos: En esta área se incluyen datos como nombre, país, redes sociales, etc.</li>
                                <li>Perfil/Reseña: En ésta área verás lo que llamamos un perfil de tipo “editorial”, es decir, una reseña que nos ayude a contextualizar a la entidad, incorporando datos importantes respecto de su relevancia, obras, acciones, pertenencias y/o su rol e impacto en la realidad social, económica, cultural, etc.</li>
                                <li>Ficha de datos duros: Esta área incluye todos los tipos de conexiones que puede tener una entidad y es esencial para poder construir un mapa de relaciones, ya que en este espacio ingresamos información respecto de todas las personas, empresas u organizaciones que están relacionadas de alguna forma con el perfil.</li>
                                <li>Mapa de relaciones: Esta área muestra el mapa generado por el sistema a través de todas las conexiones que hemos ingresado para la ficha de datos duros.</li>

                                <li>Documentos: Esta área muestra todos los documentos ligados al perfil</li>

                                <li>Fuentes: Esta área muestra todas las fuentes de información ligadas al perfil, ingresadas por nosotros.</li>
                            </ul>
                        <br>
                            
                            <li><span><b>2.</b></span> Colaborar: La información publicada en Poderopedia es previamente chequeada por nuestro equipo. Pero al registrarte puedes convertirte en colaborador. Como colaborador puedes sugerir la creación de nuevos perfiles, sugerir nuevas conexiones, reportar errores o reportar contenido inadecuado y aportar datos.</li>
                            <p>En cada página de perfil encontrarás las opciones: </p>
                            	<ul>
                                    <li>Sugerir perfiles nuevos</li>
                                    <li>Sugerir conexiones</li>
                                    <li>Reportar errores</li>
                                    <li>Reportar contenido inadecuado.</li>
                            	</ul>
                            	
                            <p>Estas opciones así como la posibilidad de aportar datos también se encuentran integradas en la portada de Poderopedia (visibles en la columna superior derecha de tu pantalla). Además, cada perfl incluye un enlace al historial de cambios. Estos cambios incluyen las fechas de creación y modificación del perfil. El enlace a ver historial de cambios se encuentra junto a la barra de enlaces de colaboración, debajo del nombre e imagen del perfil de la entidad.</p>


                            <p>Para hacer uso de las opciones mencionadas arriba deberás registrarte y crear tu cuenta.</p> 

                            <br>
                            
                            <li><span><b>3.</b></span> Mi cuenta (registrarse): Para obtener una cuenta debes ingresar en la sección “Registrarse”, ubicada en el extremo superior derecho de la pantalla y seguir las instrucciones de obtención de cuenta. Una vez registrado, podrás acceder a tu cuenta siempre que lo desees, en el extremo superior derecho de la pantalla, donde se mostrará tu nombre y fotografía (en caso de que las hayas incorporado a tu perfil). En tu cuenta puedes completar, editar o eliminar tus datos de usuario Poderopedia. Con esto te convertirás en colaborador de Poderopedia, recibiendo notificaciones cada vez que una de tus colaboraciones sean aprobadas o rechazadas.</li>
                            <ul>
                                <li>Tipos de usuario: Al ser Poderopedia una plataforma de contenido público, es necesaria una instancia de revisión interna con el objeto de cuidar la calidad del contenido.</li>
                                	Para cumplir con esta finalidad, Poderopedia posee dos tipos de usuario:
                                <li>Editor: usuario con permisos para crear, editar, modificar y eliminar todo contenido.</li>
                                <li>Colaborador: usuario con permisos para sugerir perfiles y conexiones, aportar datos y proponer la creación de nuevos perfiles, reportar errores y reportar contenido inadecuado. En tu cuenta se indicará siempre el tipo de usuario al que perteneces.</li>
                                	
                            </ul>
                            <br>
                            
                            <li><span><b>4. </b></span>Mis notificaciones</li>
                            <p>La sección Mis notificaciones ha sido creada para que puedas saber cuando una colaboración tuya ha sido aceptada. Mis notificaciones es la sección que reúne todos los mensajes y avisos para ti. Puedes leer, guardar o borrar tus notificaciones siempre que lo desees a través del menú Administrar > notificaciones, o haciendo clic directamente en el número que aparece junto a tu fotografía.</p>
                            <p>Tus notificaciones nuevas aparecerán junto a la fotografía de tu cuenta en el extremo superior derecho de la pantalla y estarán siempre visibles, hasta que las revises.</p>
                            
                            <br>
                            
                            <li><span><b>5. </b></span> Directorios: Toda la información disponible en Poderopedia está organizada por directorios. Tenemos un directorio general de entidades de la A a la Z y directorios específicos de Personas, Empresas y Organizaciones. Puedes navegar por estos directorios usando filtros básicos.</li>
                            <br>
                            
                            <li><span><b>6. </b></span> Buscador: El buscador se encuentra en la parte superior derecha de tu pantalla junto a las opciones de Ingreso y Registro de todo el sitio Poderopedia. Para buscar, escribe la o las palabras relativas a lo que necesitas y presiona “buscar” (o la tecla Enter). De este modo obtendrás una página con categorías y filtros que te permitirán acotar los resultados de acuerdo a las categorías y términos relevantes existentes en el contenido, todo esto relativo a tu búsqueda.</li>
                        </ol>
                       

                    </div>
                </div>
                
           </section>
        </div>
    </div>
</div>
