{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}

<div class="row">

    <div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Manual de Lineamientos Editoriales Poderopedia: Visión, ética y contenidos</span></h3>
                    </hgroup>
                <div id="subindex" class="width-complete"><!-- .width-complete -->
                    <div class="row-division clearfix"><!-- .row-division -->
      					<h3>Introducción</h3>
                        
                        <ol>
                            <li><span><b>1.</b></span> Visión y definición</li>
                            <ul>
                                <li>Poderopedia.org es una plataforma colaborativa de periodismo de datos que mapea quién es quién en los negocios y la política en Chile. Usando información pública, visualizaciones de datos y tecnología semántica, Poderopedia te ayuda a entender las relaciones entre las personas, empresas y organizaciones de interés público, para reflejar eventuales conflictos de interés y promover una mayor transparencia para todos.</li>
                                <li>Poderopedia.org es desarrollado por periodistas, programadores, diseñadores y colaboradores ciudadanos que investigan, extraen, seleccionan y validan información de fuentes públicas como medios de comunicación, bases de datos gubernamentales, bases de datos de empresas y publicaciones de sitios web de todo tipo. Dicha información es sometida a un cuidadoso proceso de verificación de fuentes y luego se publican los aspectos de interés público más relevantes.</li>
                                <li>Poderopedia.org pretende ser una herramienta de utilidad diaria para periodistas, medios de comunicación, ciudadanos, profesionales, organizaciones y empresas que necesiten consultar información sobre quién es quién en los negocios y la política en Chile, así como conocer sus mapas de conexiones. Poderopedia también busca promover la participación ciudadana, entregando a sus usuarios la opción de registrarse en el sitio web para aportar todo tipo de datos, los cuales son verificados por el equipo antes de ser publicados.</li>
                                <li>Poderopedia es un proyecto sin fines de lucro de la Fundación Poderomedia que comienza en Chile con la intención de expandirse a otros países del mundo, a través de la creación de capítulos locales (revisa <a href="#">cómo crear Poderopedia en tu país</a>).</li>
                            </ul>
                        <br>
                            
                            <li><span><b>2.</b></span> Objetivos.</li>
                            <p>El presente Manual de Lineamientos Editoriales busca fijar las bases metodológicas del trabajo de Poderopedia en Chile y, a futuro, del trabajo de los capítulos de Poderopedia en otros países, para cumplir con los siguientes objetivos claves:</p>
                                <ul>
                                    <li>Publicar la información más precisa y verificada de las personas, empresas y organizaciones de interés público del país.</li>
                                    <li>Mostrar los vínculos o conexiones que existen entre las personas, empresas y organizaciones de interés público del país.</li>
                                    <li>Hacer un seguimiento de los actos y hechos más noticiosos de las personas, empresas y organizaciones de interés público del país.</li>
                                    <li>Ofrecer a los ciudadanos y periodistas una visión en profundidad de quién es quién en los negocios y la política.</li>
                                    <li>Ahorrar tiempo a periodistas e investigadores en su trabajo sobre las personas, empresas y organizaciones de interés público.</li>
                                    <li>Promover la colaboración de ciudadanos que aporten información y datos, verificados antes de su publicación.</li>
                                    <li>Convertirse en una herramienta útil y de consulta diaria para todo aquel interesado en la transparencia y la fiscalización de las instituciones públicas y privadas de interés público del país.</li>
                                </ul>

                            <br>
                            
                 <h3>Definición de entidades</h3>           
                            <li><span><b>1.</b></span> Personas, empresas y organizaciones.</li>
                            <p>Las entidades que Poderopedia alojará en su base de datos son tres: personas, empresas y organizaciones. Es a partir de ellas que se visualizarán relaciones.
En los tres casos, una entidad incluye un perfil compuesto por:</p>
                            <ul>
                                <li>Perfil periodístico o texto biográfico noticioso, que busca detallar los aspectos informativos más relevantes de la entidad.</li>
                                <li>Datos personales básicos.</li>
                                <li>Ficha de datos duros.</li>
                                <li>Mapa/visualización de relaciones con otras entidades.</li>
                                <li>Documentos relacionados a la entidad.</li>
                                <li>Fuentes usadas en la elaboración del perfil de la entidad.</li>
                                    
                            </ul>
                          <br>
                        
                       <h3>Principios editoriales</h3>
                            <p>Nuestros principios editoriales, basados en el Manual de Ética Periodística de la National Public Radio (<a href="http://ethics.npr.org/" target="_blank">NPR</a>), son los siguientes:</p>         
                                
                            <li><span><b>1. </b></span>Precisión</li>
                            <p>El propósito de <strong>Poderopedia</strong> es buscar verdad y transparencia, para ello el periodista deberá ser riguroso y asegurarse de que los datos investigados sean correctos y estén en su contexto.</p>
                            <p>Deberá esforzarse por sacar el máximo provecho a sus recursos y habilidades con el objetivo de presentar la más completa versión de la verdad, con información de calidad y comprobada. El lenguaje de sus afirmaciones debe ser preciso y no dar pie a <strong>ambigüedades</strong>.</p>
                            <p>La <strong>exactitud</strong> es la esencia del periodismo. Nuestro trabajo deberá representar fielmente la realidad, desde el más mínimo detalle al contexto general que nos ayuda a poner la información en perspectiva.</p>
                            <p>Debemos ser capaces de <strong>identificar las fuentes precisas</strong>. Si el periodista realiza una afirmación en su contenido, debe lograr identificar inmediatamente el origen de su información y saber explicar por qué esa fuente es confiable. Nunca debe buscar la comprobación después de que su trabajo ha sido publicado.</p>
                            <p><strong>Es necesario saber interpretar correctamente los hechos y asegurarse de que el material que investiga</strong> es fiel a su significado y contexto. Publicar datos falsos puede causar daño a la reputación de las personas, por lo tanto debemos tomar precauciones adicionales para evitarlos.</p>
                            <p><strong>Presentar diferentes perspectivas que validen con datos la información</strong> nos ayuda a ser más precisos.</p>
                            
                            <br>
                            
                            <li><span><b>2. </b></span> Imparcialidad.</li>
                            <p>Nuestros perfiles de entidades deben ser lo más apegados a la verdad posible. Cada vez que citamos o interpretamos lo que la gente nos dice, nuestro objetivo es ser fieles a su significado. En todos los contenidos, sobre todo en los que tratan sobre asuntos controvertidos, debemos <strong>esforzarnos por tomar en cuenta los argumentos más poderosos y desde distintos puntos de vista</strong>, tratando de presentar los matices con claridad. El objetivo del periodista de Poderopedia no es agradar a las fuentes, sino buscar la verdad.</p>
                            <p>Es absolutamente necesario atenernos a los hechos con un lenguaje claro, preciso y neutral.</p>
                            <p>Nuestras palabras y acciones pueden dañar a la opinión pública, por lo tanto debemos ser profesionales e imparciales. Los periodistas tenemos opinión, al igual que todas las personas, sin embargo el público merece información que trascienda nuestros prejuicios.</p>
                            <p>El periodista de Poderopedia debe desafiar sus propios puntos de vista, teniendo siempre como objetivo presentar la verdad tan completa como podamos.</p>
                            <p>Es necesario esforzarse por <strong>utilizar palabras y frases que entreguen la información con precisión</strong>, sin tomar partido en cuestiones emocionales o políticas. Un lenguaje políticamente cargado viola nuestro compromiso y hace que los lectores piensen que estamos sesgados a favor de uno u otro lado.</p>
                            
                            <br>
                            
                            <li><span><b>3. </b></span> Informar a fondo.</li>
                            <p>Debemos esforzarnos por informar a fondo, sin embargo no siempre tendremos el tiempo suficiente o el espacio necesario para incluir todo lo que nos gustaría. Pero es necesario tener presente que los errores de omisión y las verdades a medias pueden causar daño a nuestra credibilidad.</p>
<p>Como periodistas de Poderopedia debemos contribuir a un debate informado, por lo tanto, si no podemos entregar todas las respuestas a las preguntas más importantes, debemos explicar a nuestros lectores y usuarios las razones de aquello.</p>
                        <br>
                        	<li><span><b>4. </b></span> Honestidad.</li>
                            <p>Tomar el trabajo de otro y presentarlo como propio es un robo, por lo tanto nuestra audiencia (usuarios, lectores, etc.) siempre debe saber de dónde proviene la información que entregamos.</p>
<p>Las cuñas o citas textuales deben ser presentadas entre comillas y si por espacio o claridad debemos parafrasear una declaración es necesario dejarlo en claro.</p>
                        
                        <br>
                        
                        <li><span><b>5. </b></span> Independencia.</li>
                            <p>Para asegurar la credibilidad, es necesario recalcar que <strong>nuestra lealtad es hacia los lectores y usuarios de Poderopedia.</strong></p>
							<p>Los intereses personales o profesionales que entren en conflicto con la lealtad ponen en peligro nuestra credibilidad, por lo tanto si tenemos algún tipo de conflicto de interés debemos informarlo y si es necesario retirarnos de la cobertura del tema. Esto se extiende a los intereses de los cónyuges y a otros miembros de la familia.</p>
                            <p>No debemos permitir que las fuentes nos digan cómo debemos tratar un tema.
Se agradece enormemente el apoyo financiero que podamos recibir de personas naturales, fundaciones o corporaciones. Su apoyo es esencial. Sin embargo, ellos no podrán influir en las decisiones que se tomen en Poderopedia acerca de qué temas serán cubiertos y cómo serán informados.</p>
                        
                        <br>
                        
                        <li><span><b>6. </b></span> Transparencia.</li>
                            <p>Poderopedia debe ser creíble y para ello es fundamental entregar a nuestra audiencia las herramientas necesarias para evaluar el trabajo que hemos realizado. Revelaremos todo lo que sea pertinente con la finalidad de comprobar los hechos presentados. Además, <strong>cada perfil de entidad tendrá su propia página de Historial</strong>, donde se detallarán todas las actualizaciones y modificaciones realizadas desde la creación del perfil de la entidad.</p>
							<p>Gran parte del trabajo que los periodistas realizamos: recopilar, reportear y verificar datos, lo hacemos lejos de los ojos de la audiencia, por lo tanto siempre deberemos entregar una idea a los lectores de cómo hemos desarrollado la investigación.</p>
                        
                        <br>
                        
                        <li><span><b>7. </b></span> Responsabilidad.</li>
                        
                            <p>Debemos asumir la responsabilidad por nuestro trabajo y estar siempre dispuestos a responder por ello.</p>
                            <p>Escucharemos con atención a nuestras fuentes y audiencias, ellos hacen que podamos elaborar buenos contenidos y hacer un mejor periodismo. Por lo tanto, en la medida de nuestras posibilidades estaremos dispuestos a responder preguntas y críticas. Los errores son inevitables, pero cuando ocurra alguno lo corregiremos a la brevedad, reflexionaremos sobre lo que pasó y aprenderemos de ellos.</p>
                            <p>Equivocaciones graves, como informar la muerte de alguien cuando en realidad está vivo o de errores que podrían tener consecuencias legales como la difamación, se deben corregir inmediatamente y consultar en caso de dudas con los asesores legales de Poderopedia.</p>
                         
                        <br>
                        
                        <li><span><b>8. </b></span> Respeto.</li>
                        
                            <p>Toda persona investigada en Poderopedia merece ser tratada con decencia y respeto. Debemos ser cuidadosos con nuestras acciones y palabras.<p>
							<p>Mientras cumplimos con nuestras obligaciones periodísticas, todos los temas que estamos investigando deben ser tratados con máxima privacidad. No debemos divulgar, por ejemplo, información no confirmada en redes sociales.</p>       

                        <br>
                        
                        <li><span><b>9. </b></span> Excelencia.</li>
                        
                            <p>Al escribir y editar no debemos perder la claridad de nuestro objetivo: mostrar y contar quién es quién en los negocios y la política para que nuestra audiencia pueda tener mejor y mayor información para entender las relaciones de las personas, empresas y organizaciones de interés público. Haremos el mejor esfuerzo por informar con fidelidad y verdad.</p>
                            <p>Además de tener claro que la información de Poderopedia debe ser de calidad, es necesario tener presente que dentro de nuestras aspiraciones a la excelencia las decisiones éticas son un elemento importante en nuestra toma de decisiones.</p>
							<p>Nuestro deber no es solo contar simples historias o relacionar personas, empresas u organizaciones poderosas, sino que debemos tratar la información que tenemos con responsabilidad, con datos claros, verificados y convincentes.</p>     
                                                                                  
                        <br>
                        
                        <li><span><b>10. </b></span> Checklist.</li>
                        
                            <p>De acuerdo a las recomendaciones de la <a href="http://ethics.npr.org/" target="_blank">NPR</a>, antes de dar por terminado un perfil de una entidad debemos responder una simple lista de verificación que nos servirá para darnos cuenta que no hemos descuidado nada.</p> 
                            <ul>
                                <li>¿El título y cada nombre está correctamente escrito?</li>
                                <li>La citas son exactas y están correctamente atribuidas</li>
                                <li>¿Has revisado la ortografía y la gramática?</li>
                                <li>Los números y cálculos son los correctos. Chequea los años, los porcentajes, las referencias a los millones, billones y trillones (confundirlos es uno de los errores más comunes)</li>
                                <li>¿Los términos utilizados son los correctos? Por ejemplo, el sospechoso fue detenido o simplemente fue interrogado.</li>
                                <li>La historia coincide con las fotos y gráficos asociados a ellas.</li>
                                <li>¿Publicaste tus fuentes?</li>
                                <li>¿Tu historia es imparcial? Léela como si fueras un lector, no un reportero o un editor.</li>
                                <li>¿Nuestras conclusiones son apoyadas con hechos? Debemos hacer una pausa antes de publicar el contenido para asegurarnos si hemos contestado todas las preguntas que pueden ser respondidas. Si algunas de ellas son importantes y no pudieron ser resueltas, debemos informarlo a nuestros lectores.</li>
                            </ul>     
                                               
                        </ol>
                       

                    </div>
                </div>
                
           </section>
        </div>
    </div>
</div>
