{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}

<div class="row">

    <div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Reportar errores</span></h3>
                    </hgroup>
                <div id="subindex" class="width-complete"><!-- .width-complete -->
                    <div class="row-division clearfix"><!-- .row-division -->
                        <p>En Poderopedia asumimos la responsabilidad por nuestro trabajo y estamos siempre dispuestos a responder a nuestros usuarios en la medida de nuestras posibilidades y a corregir errores a la brevedad, cuando estos ocurren.</p>

                        <p>En todos los perfiles Poderopedia  incluimos la opción de Reportar un error para facilitarte la identificación y comunicación de posibles equivocaciones.</p> 

                        <p>Si detectas algún error en un perfil por favor utiliza la opción de Reportar error y explícanos de qué se trata. </p>

                        <p>Para utilizar esta opción <a href="{{=URL('default','registrogeneral')}}">debes registrarte</a> en Poderopedia usando tu cuenta de Facebook, Twitter o creando una cuenta de usuario. Eso nos permitirá revisar tu mensaje y notificarte a tu página de usuario, de las correcciones efectuadas.</p>	
                       

                    </div>
                </div>
                
           </section>
        </div>
    </div>
</div>
