{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}

<div class="row">

    <div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Reportar Contenido Inadecuado</span></h3>
                    </hgroup>
                <div id="subindex" class="width-complete"><!-- .width-complete -->
                    <div class="row-division clearfix"><!-- .row-division -->
                        <p>Conforme a nuestra <a href="{{=URL('acercade','politica_de_privacidad')}}">Política de privacidad</a> y <a href="{{=URL('acercade','condiciones_de_uso')}}">Términos y condiciones de uso</a>, Poderopedia no ampara la publicación de contenidos inadecuados.</p>  

                        <p>Consideramos como contenidos inadecuados cuestiones como:</p>
                        <ul>
                            <li>Incitación al odio</li>
                            <li>Suplantación de identidad</li>
                            <li>Violación de privacidad</li>
                            <li>Acoso</li>
                            <li>Spam</li>
                            <li>Infracciones a los <a href="{{=URL('acercade','condiciones_de_uso')}}">términos de comunidad</a></li>
                        </ul>
 


                        <p>En todos los perfiles Poderopedia incluimos la opción de Reportar contenido inadecuado para facilitarte la identificación y comunicación de contenidos que infrinjan nuestras reglas comunitarias. </p>

                        <p>Si detectas contenidos inadecuados en un perfil por favor utiliza la opción de Reportar contenido inadecuado y explícanos de qué se trata. </p>

                        <p>Para utilizar esta opción debes <a href="{{=URL('default','registrogeneral')}}">registrarte</a> en Poderopedia usando tu cuenta de Facebook, Twitter o creando una cuenta de usuario. Eso nos permitirá revisar tu mensaje y notificarte a tu página de usuario, de las medidas adoptadas.</p>	
                       

                    </div>
                </div>
                
           </section>
        </div>
    </div>
</div>
