{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}
          
<div class="row">
    
       <div class="estaticas">                    
                <!-- centerCol -->
                <section class="center-col estaticas span9">
                    <hgroup class="search-results historial-head clearfix">
                        <h3 class="search-awnser"><span class="perfil-results">Qué es Poderopedia</span></h3>
                    </hgroup>
                    <div class="row-division clearfix"><!-- .row-division -->
                        <iframe src="http://player.vimeo.com/video/50626558?badge=0" width="729" height="490" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div><!-- .row-division -->
                    <div class="row-division clearfix"><!-- .row-division -->
                        <h3>¿Qué es Poderopedia?</h3>
                        <p>Poderopedia es una plataforma colaborativa de periodismo de datos que mapea quién es quién en los negocios y la política en Chile.</p> 

                        <p>Usando información pública, visualizaciones de datos y tecnología semántica, Poderopedia te ayuda a entender las relaciones entre las personas, empresas y organizaciones de interés público, para reflejar eventuales conflictos de interés y promover una mayor transparencia para todos.</p>

                        <p>Poderopedia es desarrollado por periodistas, programadores, diseñadores y colaboradores ciudadanos que investigan, extraen, seleccionan y validan información de fuentes públicas como medios de comunicación, bases de datos gubernamentales, bases de datos de empresas y publicaciones de sitios web de todo tipo. Dicha información es sometida a un cuidadoso proceso de verificación de fuentes y luego se publican los aspectos de interés público más relevantes.</p>

                        <p>Poderopedia pretende ser una herramienta de utilidad diaria para periodistas, medios de comunicación, ciudadanos, profesionales, organizaciones y empresas que necesiten consultar información sobre quién es quién en los negocios y la política en Chile, así como conocer sus mapas de conexiones.</p> 

                        <p>Poderopedia también busca promover la participación ciudadana, entregando a sus usuarios la opción de registrarse en el sitio web para aportar todo tipo de datos, los cuales son verificados por el equipo antes de ser publicados.</p>

<p>Poderopedia es un proyecto sin fines de lucro de la Fundación Poderomedia, que comienza en Chile, con la intención de expandirse a otros países del mundo, a través de la creación de capítulos locales.</p>
                        
                    </div><!-- .row-division -->

                    <div class="row-division clearfix"><!-- .row-division -->
                        <p>¿Quieres saber más? Por favor revisa nuestras <a href="{{=URL('ayuda','preguntas_frecuentes')}}">Preguntas Frecuentes</a> o visita nuestro <a href="{{=URL('ayuda','index')}}">Centro de Ayuda.</a></p>

                        <p>¿Quieres crear Poderopedia en tu país, colaborar o apoyarnos? Aquí te decimos <a href="{{=URL('comunidad','index')}}">cómo.</a></p>

                        <p>¿Quieres usar nuestro código? Visita nuestra área dedicada a <a href="{{=URL('desarrolladores','index')}}">Desarrolladores</a></p> 
                        
                    </div><!-- .row-division -->

                </section>
                <!-- /centerCol -->
		</div>
    </div>
