{{extend  'visualizacionLayoutEstaticas.html'}}
{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}
 
<div class="row">

 	<div id="content">
       <div class="estaticas">    
				<!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Política de privacidad</span></h3>
                    </hgroup>

                    <div class="row-division clearfix"><!-- .row-division -->
                    
                       <h3><p>Política de Privacidad y Tratamiento de Datos</p></h3>
 
                        <p>Te damos la bienvenida a Poderopedia.org, en adelante Poderopedia. Antes de empezar a utilizar nuestros servicios, deberás leer y aceptar la Política de Privacidad y Tratamiento de Datos, la que podrá ser actualizada en cualquier momento y sin aviso previo, siendo el usuario responsable de su revisión periódica. Desde el momento en que sean publicados los cambios o actualizaciones de la referida política se entenderá que los usuarios están notificados de ello. Si hubiera cambios significativos, Fundación Poderomedia podrá enviar una notificación de aquello a la casilla de correo electrónico proporcionada por el usuario al momento del registro.</p>
                        
                         <ol><!--Primera Lista--> 
                             <li><h3><span>01 -</span> Principio General</h3><p></p> 
 
                             <p>Fundación Poderomedia utiliza y trata la información personal de los usuarios registrados en Poderopedia conforme a la legislación vigente en Chile, en especial, la Ley Nº 19.628 sobre Protección de la Vida Privada y Tratamiento de Datos Personales. La información personal de los usuarios de Poderopedia que residan fuera de Chile será transferida, tratada y registrada conforme a la legislación antes señalada.</p>					
                             </li>
 
                                 <li><h3><span>02 -</span> Información personal recopilada por Fundación Poderomedia</h3><p></p> 
 
                             <p>Cuando un usuario se registra en Poderopedia se le solicita determinada información personal identificable tales como nombre de usuario, correo electrónico (email) y clave (password). Poderopedia automáticamente recibe y registra esa información en sus servidores. Asimismo, en forma opcional Poderopedia entrega la posibilidad de que en la etiqueta “Mi cuenta” se proporcione información personal adicional tales como el nombre, cargo, organización, biografía, etc.</p>
 
                             <p>Adicionalmente, Fundación Poderomedia almacena determinada información a través de las “cookies” del navegador web (software que permite al usuario recuperar y visualizar documentos de hipertexto desde servidores web) que utiliza el computador del usuario. Las denominadas “cookies” son una pequeña cantidad de datos que incluye un identificador único anónimo, enviado por el navegador web y almacenado en el disco duro del computador del usuario. El usuario puede configurar su navegador para aceptar todas las cookies, rechazarlas en su totalidad o notificar cuando hay una. Si el usuario rechaza todas las cookies puede que no pueda sacar el máximo provecho de los servicios de Poderopedia.</p>
 
                             <p>El usuario es responsable por la veracidad e integridad de los datos personales de identificación proporcionados al momento de su registro en Poderopedia o modificados posteriormente. Asume todas las responsabilidades legales derivadas de la utilización de datos de identificación pertenecientes a terceras personas, suplantación de identidad o utilización de datos falsos.</p>
 
                             <p>Fundación Poderomedia podrá solicitar en cualquier momento la acreditación de la veracidad de los datos personales de identificación proporcionados por el usuario. Si el usuario no da respuesta al requerimiento en el plazo de 30 días, Fundación Poderomedia se reserva el derecho de eliminar su cuenta de registro.</p>
 
                             <p>El usuario puede en cualquier momento acceder a su información personal contenida en la cuenta de usuario en Poderopedia, actualizarla, modificarla,  como también puede eliminar su cuenta de usuario mediante el envío de un correo electrónico u otro medio que Fundación Poderomedia determine.</p>
 
                             <p>En este último caso, la información que haya publicado el usuario en Poderopedia permanecerá en forma anónima pero podrá ser revelada con indicación de los datos personales del usuario a raíz de un requerimiento judicial. Respecto de la información publicada por un usuario en las bases de datos de Poderopedia, permanecerá con referencia a su nombre en la medida que dicho usuario así lo haya aceptado.</p>
 
                             <p>Sin perjuicio de lo antes señalado, Fundación Poderomedia también se reserva el derecho de acceder, leer, preservar y revelar cualquier tipo de información que razonablemente sea necesaria para: (a) cumplir con leyes, regulaciones u órdenes judiciales que sean del caso; (b) aplicar o hacer ejecutar las Condiciones y Términos de Uso y la presente Política de Privacidad de Poderopedia, incluyendo la investigación sobre posibles infracciones; (c) detectar, prevenir, o de cualquier modo abordar casos o situaciones de fraude o seguridad; y (d) proteger los derechos, propiedad o seguridad de Poderopedia, sus usuarios y los titulares de los perfiles contenidos en las bases de datos de Poderopedia.</p>
 
                             </li>
                             
                             <li><h3><span>03 -</span> Uso de la información personal de los usuarios</h3></li><p></p>
                             
                             <ul><!--Segunda Lista-->
 
                                 <li><h5><span>i.</span> 	Utilización de la información personal de contacto</h5></li><p></p>
 
                                 <p>Fundación Poderomedia podrá utilizar la información personal de contacto, tales como dirección de correo electrónico, bitácora de mensajes en el sitio web de Poderopedia, a fin de enviar información al usuario sobre los servicios de Poderopedia.</p>
 
                                 <p>Fundación Poderomedia no entregará a terceras personas la información de contacto o cualquier otro dato personal de la cuenta de usuario que permita contactarlo. Fundación Poderomedia no provee a terceras personas la dirección de correo electrónico de los usuarios a objeto de generar una lista de correos electrónicos válidos. La información publicitaria de productos y servicios de terceras personas es insertada y publicada directamente por Fundación Poderomedia.</p>
 
                                 <li><h5><span>ii.</span> 	Utilización de la información de “perfil de usuario” y preferencias</h5></li><p></p>
 
                                 <p>La información de “perfil de usuario” puede estar registrada en los servidores de Fundación Poderomedia para su utilización conforme a la configuración de privacidad del usuario. Las preferencias del usuario son utilizadas por Fundación Poderomedia para sugerirle contenidos y servicios que puedan ser de su interés.</p>
 
                                 <li><h5><span>iii.</span> 	Utilización de la dirección IP y “cookies”</h5></li><p></p>
 
                                 <p>La dirección IP es utilizada para monitorear las interacciones de los usuarios en el sitio web de Poderopedia, para fines de administración y mejoramiento de sus servicios. Fundación Poderomedia no asocia la dirección IP a información personal identificable o los datos de contacto del usuario.</p>
 
                                 <p>Fundación Poderomedia utiliza las “cookies” para llevar registro de las preferencias de los usuarios, para estimar y reportar la audiencia total en tamaño y tráfico, para hacer investigaciones de conducta y, en general, para mejorar los servicios y contenido de Poderopedia. Bajo ninguna circunstancia se utilizarán las “cookies” para recolectar información personal identificable.</p>
 
                                 <p>Fundación Poderomedia podrá encargar a terceras personas el análisis y estudio de las conductas y preferencias de sus usuarios, en cuyo caso no proporcionará a tales terceros información personal identificable del usuario o sus datos de contacto.</p>
                                 
                             </ul><!--Fin Segunda Lista-->
 					
 		
                             <li><h3><span>04 -</span> Entrega de información personal ante autoridades judiciales o administrativas</h3><p></p>
 
                                     <p>Fundación Poderomedia revelará la información personal identificable de sus usuarios, direcciones IP y logs de registro, entre otros, cuando le haya sido solicitada por una autoridad judicial o administrativa, en uso de facultades que le haya entregado la ley.</p>
 
                                     <p>Bajo ninguna circunstancia dicha información será revelada a litigantes privados que la soliciten por iniciativa propia o bien a organismos públicos sin que exista previamente un proceso legal que así lo justifique.</p>
 
                                     <p>Cuando Fundación Poderomedia haya recibido una notificación de una autoridad judicial o administrativa, se informará al usuario mediante un correo electrónico, a menos que la autoridad judicial o administrativa tenga facultades legales para impedirlo.</p>
                                     
                                     </li>
 
                             <li><h3><span>05 -</span> Definiciones</h3></li><p></p>
			<ul><!--Segunda Lista-->
 
                <li>a.  <u>Fundación Poderomedia o Poderomedia</u>: persona jurídica sin fines de lucro, titular del sitio web Poderopedia.org.</li>
                <li>b.  <u>Poderopedia</u>: sitio web Poderopedia.org, a través del cual se accede a una base de datos editorial participativa que registra y permite visualizar las relaciones y conexiones entre las personas, empresas y organizaciones de interés público a fin de indicar quién es quién en los negocios y la política en Chile.</li>
                <li>c.  <u>Servicios o servicios básicos</u>: acceso a la base de datos de Poderopedia, a través de la página web <a href="www.poderopedia.org" taget="_blank">www.poderopedia.org</a>. No considera los servicios preferenciales pagados.</li>
                <li>d.  <u>Usuario</u>: persona natural (mayor de 14 años) o jurídica que accede a los servicios básicos o servicios preferenciales pagados de Poderopedia.</li>
                    
                             </ul><!--Fin Segunda Lista-->         
                    
                    	
                    </ol><!--Fin Primera Lista-->
                    
                </div>
                 
    		</section>
        </div>
    </div>

</div>
