{{for relacion,tupla in relationship.items():}}
<div class="accordion-group">
    <div class="accordion-heading clearfix">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseP2P{{=relacion}}">
            {{=T(relacion)}} <span>( {{=len(tupla)}} Items )</span>
        </a>
        <div class="buttonsColapse">
            <!--TODO requiere permiso de administracion-->
            <!--<a href="#">Editar</a>-->
            <a href="#collapseP2P{{=relacion}}" class="showIco" data-toggle="collapse" data-parent="#accordion2">Mostrar</a>
        </div>
    </div>
    <div id="collapseP2P{{=relacion}}" class="accordion-body collapse">
        <div class="accordion-inner">
            <p></p>
            <table class="table table-striped">
                {{for relation in tupla:}}
                <tr id="pers{{=relation[0]}">
                    <td>con</td>
                    <td>{{=A(organizacion[relation[0]], _href=URL('caso_organizacion', args=relation[0]))}}</td>
                    <!--<td>por</td>-->

                </tr>
                {{pass}}
            </table>
        </div>
    </div>
</div>
{{pass}}