{{extend  'visualizacionLayoutEstaticas.html'}}

{{block breadcrumbs}}

<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}
<div class="row">
 	<div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Sugiere un Perfil</span></h3>
                    </hgroup>
                	<div id="subindex" class="width-complete"><!-- .width-complete -->
                    	<div class="row-division clearfix"><!-- .row-division -->
                            <p>Poderopedia lo hacemos todos. Tu también puedes aportar datos y sugerir la publicación de conexiones de personas, empresas y organizaciones ya existentes en Poderopedia. ¡Conviértete en uno de nuestros colaboradores! </p>
                            <p>¿Cómo?</p>
                            
                            <ol>
                                <li><span>1.-</span> Regístrate en Poderopedia usando tu cuenta de Facebook, Twitter o creando una cuenta de usuario en la sección “Registrarse” ubicada en el extremo superior derecho de la pantalla y sigue las instrucciones de obtención de cuenta. Al hacerlo, de inmediato te convertirás en colaborador de Poderopedia y obtendrás una página privada de usuario (Tu cuenta) donde recibirás notificaciones de aprobación de tus colaboraciones.</li>
                                <li><span>2.</span> Una vez registrado como usuario, busca la opción <b>Sugerir una conexión</b> en el perfil de la persona, empresa u organización sobre la cual tienes información. Haz click sobre <b>Sugerir una conexión</b>, ingresa la conexión y describe cuál es la relación.</li>
                                <li><span>3.</span> Tu colaboración es recibida satisfactoriamente y será publicada una vez confirmada y aprobada por nuestro equipo. Cuando eso suceda, recibirás una notificación en tu página privada de usuario.</li>
                            </ol>  

                    	</div>
                	</div>                    
           		</section>
        </div>
    </div>
</div>
