<!-- footer -->
        <footer>
            <div class="container">
                <div class="contents row">
                    <div class="col span">
                        <h5>Acerca De</h5>
                        <ul>
                            <li><a href="{{=URL('acercade','index')}}">Qué es Poderopedia</a></li>
                            <li><a href="{{=URL('acercade','equipo')}}">Equipo</a></li>
                            <li><a href="{{=URL('acercade','prensa')}}">Prensa</a></li>
							<li><a href="http://blog.poderopedia.org">Blog</a></li>
							<li><a href="{{=URL('acercade','contactanos')}}">Contacto</a></li>
                        </ul>
                    </div>
                    
                    <div class="col span">
                        <h5>Comunidad</h5>
                        <ul>
                            <li><a href="{{=URL('comunidad','index')}}">Crea Poderopedia en tu país</a></li>
                            <li><a href="{{=URL('comunidad','sumate_a_nosotros')}}">Súmate a nosotros</a></li>
                            <li><a href="{{=URL('comunidad','sugiere_perfil')}}">Sugiere un perfil</a></li>
                            <li><a href="{{=URL('comunidad','sugiere_conexion')}}">Sugiere una conexión</a></li>
                            <li><a href="{{=URL('comunidad','apoyanos')}}">Apóyanos</a></li>
                        </ul>
                    </div>
                    
                    <div class="col span">
                        <h5>Desarrolladores</h5>
                        <ul>
                            <li><a href="{{=URL('desarrolladores','index')}}">API</a></li>
                            <li><a href="{{=URL('desarrolladores','ontologia')}}">Ontología</a></li>
                            <li><a href="{{=URL('desarrolladores','usa_nuestro_codigo')}}">Usa nuestro código</a></li>
                            <li><a href="{{=URL('desarrolladores','documentacion')}}">Documentación</a></li>
                            <li><a href="{{=URL('desarrolladores','foro_dev')}}">Foro Dev</a></li>
                        </ul>
                    </div>
                    
                    <div class="col span">
                        <h5>Ayuda</h5>
                        <ul>
                            <li><a href="{{=URL('ayuda','index')}}">Guía paso a paso</a></li>
                            <li><a href="{{=URL('ayuda','preguntas_frecuentes')}}">Preguntas Frecuentes</a></li>
                            <li><a href="{{=URL('ayuda','lineamientos_editoriales')}}">Lineamientos editoriales</a></li>
                            <li><a href="{{=URL('ayuda','reportar_error')}}">Reportar errores</a></li>
                            <li><a href="{{=URL('ayuda','reportar_contenido_inadecuado')}}">Reportar contenido inadecuado</a></li>
                        </ul>
                    </div>
                    
                    <div class="col span sociales">
                        <h5>Seguir</h5>
                        <ul>
                            <li class="icon_tw"><a href="https://twitter.com/poderopedia" target="_blank">Twitter</a></li>
                            <li class="icon_fb"><a href="http://www.facebook.com/poderopedia" target="_blank">Facebook</a></li>
							<li class="icon_gp"><a href="#">Google +</a></li>
							<li class="icon_gh"><a href="https://github.com/poderopedia" target="_blank">Github</a></li>
							<li class="icon_rss"><a href="{{=URL('default','call',args=['rss','destacados_rss'])}}">RSS</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            
            <div class="final">
                <div class="container">
                    <div class="row">
                        <div class="brand span6 clearfix">
                            <!--<img src="{{ =URL('static','img/footer_logopoderopedia.gif') }}" alt="Poderopedia">-->
                            <a href="{{=URL('default','index')}}"><img src="{{ =URL('static','img/logo-beta.png') }}" alt="Poderopedia" /></a>
                            <p><a href="{{=URL('acercade','condiciones_de_uso')}}">Términos de uso</a> | <a href="{{=URL('acercade','politica_de_privacidad')}}">Políticas de privacidad</a></p>
                            
                        </div>
                        
                        <div class="misc-links txt-r span6">
                            <p>Con el apoyo de: <a href="http://www.knightfoundation.org/" target="_blank" class="logoknight">Knight Foundation</a> <a href="http://startupchile.org/" target="_blank" class="logostartup">Startup Chile</a></p>
                        </div>
                    </div>
                </div>
            </div>

			<div class="final-end">
                <div class="container">
                    <div class="row">
						<p>Un proyecto de <a href="#">Fundación Poderomedia 2012</a>. Todo el contenido, a menos que se indique lo contrario, bajo licencia Creative Commons 3.0. Hecho en Chile.</p>
					</div>
                </div>
            </div>

        </footer>

        <!-- /footer -->
