<div class="container">
    <h1 class="logo">
        <a href="{{=URL('default','index')}}">Poderopedia</a>
    </h1>

    <!-- primaryNav -->
    <nav class="primary-nav">
        <div class="btn-group">
            <a href="{{ =URL('directorio','general') }}" class="ddown-toggle sin-drop">a/z</a>
        </div>

        <div class="btn-group">
            <a href="{{=URL('directorio','general',args='persona')}}" class="ddown-toggle sin-drop" >Personas</a>
        </div>

        <div class="btn-group">
            <a href="{{=URL('directorio','general',args='empresa')}}" class="ddown-toggle sin-drop" >Empresas</a>
        </div>

        <div class="btn-group">
            <a href="{{=URL('directorio','general',args='organizacion')}}" class="ddown-toggle sin-drop" >Organizaciones</a>
        </div>

    </nav>

    <!-- /primaryNav -->

    <!-- loginPreview -->
    <div class="login-top">
        <a href="{{=URL('default','registrogeneral')}}" class="tit_registro">Registrarse</a>
        <button class="btn btn-danger" onclick="location.href='{{=URL('default','ingresogeneral')}}'">Ingresar</button>
    </div><!-- top -->
    <!-- about -->
    <div class="about">
        <a href="{{=URL('acercade','index')}}" class="ddown-toggle last-nav" >Sobre Poderopedia</a>
    </div>
    <!-- /about -->
</div>


<!-- sub-tool -->
<div class="sub-tool">
    <div class="container">

        <!-- search -->
                <form class="form-inline" method="get" action="{{=URL('search','podersearch')}}">
                    <div class="input-append">
                        <input class="span4" id="appendedInputButton" size="16" name="q" type="text" placeholder="Buscar en todo Poderopedia" {{if request.vars['q']:}} value="{{=request.vars['q']}}" {{pass}}><button class="btn" type="button" onclick="this.form.submit()"></button>
                    </div>
                </form>
                <!-- /search -->

        <!-- popular -->
        <span class="tit-sub">Popular Ahora:</span>

        <!-- /popular -->

    </div>
</div>
<!-- /sub-tool -->
