{{extend 'visualizacionLayout.html'}}

{{block header}}
{{ include 'includes/header-privado.html' }}
{{end}}

{{block sidebar}}
{{=LOAD('default','sidebar_cuenta.load',target='sidebar_cuenta',ajax=True,content=IMG(_src=URL('static','images/loading.gif'),_alt='loading',_width='50 px',_height='50 px'))}}
{{end}}

{{block socialBar}}
{{end}}

{{block breadcrumbs}}
<div class="quick-breadcrumbs">
    <span>Administrar: <strong>Mis publicaciones</strong></span>
</div>
{{end}}

<hgroup class="search-results clearfix">
      <h3 class="search-awnser"><img src="{{ =URL('static','tmp/avatar-44.png') }}" class="imagen-perfil-ch" /><span class="perfil-results">{{=auth.user.user_name}}</span></h3>
     </hgroup> 

		<div class="row-division clearfix"><!-- .row-division -->
			
	    <div class="tabbable">
	    	<ul class="nav nav-tabs">
	    		<li><a href="#tab1" data-toggle="tab">Todas(340)</a></li>
	    		<li class="active"><a href="#tab2" data-toggle="tab">Personas(14)</a></li>
					<li><a href="#tab3" data-toggle="tab">Empresas(33)</a></li>
					<li><a href="#tab4" data-toggle="tab">Organizaciones(153)</a></li>
					<li><a href="#tab5" data-toggle="tab">Mapas(8)</a></li>
					<li><a href="#tab5" data-toggle="tab">Casos(132)</a></li>
	    	</ul>
	    	<div class="tab-content listaz relacionaz">
	    		<div class="tab-pane" id="tab1"><!-- #tab1 -->
						CONTENIDO1
	    		</div><!-- /#tab1 -->
	
	    		<div class="tab-pane  active" id="tab2"><!-- #tab2 -->
					  <!--botones de selección-->
					  	{{ include 'includes/botones-list-personas-alternativa-az.html' }}
						<div class="toogleabc">
						{{ include 'includes/menu-abecedario.html' }}
						</div>
					  <!--boones de selección-->
					
						<div class="row-division clearfix">
						  <ul class="faces-ul">
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="borrador">Borrador</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="borrador">Borrador</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="borrador">Borrador</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="publicado">Publicado</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						    <li> <img src="{{ =URL('static','tmp/imagen-face.gif') }}" />
						      <ul class="info">
						        <li>
						          <h4><a href="#" title="Javiera Valenzuela">Javiera Valenzuela</a></h4>
						        </li>
						        <li>
						          <p><span>(creado 07/04/2012)</span></p>
						        </li>
						        <li>
						          <span class="borrador">Borrador</span> <a href="#">[ Editar ]</a>
						        </li>
						        <li class="vermas">
						          <p><a href="#">ver m&aacute;s &gt;</a></p>
						        </li>
						      </ul>
						    </li>
						  </ul>
						</div>
						
						<!--Pagination-->
						<!--se saco paginacion para poder hacer funcionar el sitio y revisar sus componentes-->
						<!--Pagination end-->
	    		</div><!-- /#tab2 -->
	
	    		<div class="tab-pane" id="tab3"><!-- #tab3 -->
						CONTENIDO3
	    		</div><!-- /#tab3 -->
	
	    		<div class="tab-pane" id="tab4"><!-- #tab4 -->
						CONTENIDO4
	    		</div><!-- /#tab4 -->
	
	    		<div class="tab-pane" id="tab5"><!-- #tab5 -->
						CONTENIDO5
	    		</div><!-- /#tab5 -->
	
	    	</div>
	    </div>

		</div><!-- /.row-division -->
