{{extend  'visualizacionLayoutEstaticas.html'}}

{{block breadcrumbs}}
<div class="quick-breadcrumbs">
    <span><strong>Poderopedia</strong></span>
</div>
{{end}}
<div class="row">

 	<div id="content">
       <div class="estaticas">               
                <!-- centerCol -->
                <section class="center-col span9">
                    <hgroup class="search-results historial-head clearfix">
                      <h3 class="search-awnser"><span class="perfil-results">Usa Nuestro Código</span></h3>
                    </hgroup>
                	<div id="subindex" class="width-complete"><!-- .width-complete -->
                    	<div class="row-division clearfix"><!-- .row-division -->
                            <h3>Contenido en Desarrollo</h3>
                    	</div>
                	</div>                    
           		</section>
        </div>
    </div>
</div>
