<div class="accordion" id="accordion2">
   <div class="accordion-group">
   		<div class="accordion-heading clearfix">
         	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
                 Datos Básicos <span>( 12 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
        <div id="collapse1" class="accordion-body collapse" data-parent=".showIco">
           	<div class="accordion-inner">
                <dl class="listDatos clearfix">
				  	<dt>Nombre(s)</dt>
				    	<dd> Juan</dd>
				</dl>
				<dl class="listDatos clearfix">
				  	<dt>Apellido 1</dt>
				    	<dd>Mendez</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Apellido 2</dt>
					    <dd>Mendez</dd>
				</dl>
				<dl class="listDatos clearfix">	
					<dt>Nombre Corto</dt>
						<dd>Juan Mendez</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Reseña</dt>
					    <dd>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>País de residencia</dt>
					    <dd>Chile</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Sector Principal</dt>
						<dd>Mineria</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Sector Secundario</dt>
						<dd>Agricultura</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Otros sectores</dt>
						<dd>Bancos</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Fecha de nacimiento</dt>
						<dd>30/11/81</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Pais de nacimiento</dt>
						<dd>Chile</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Ciudad de Nacimiento</dt>
						<dd>Santiago</dd>
				</dl>
				<dl class="listDatos clearfix">
					<dt>Estado Civil</dt>
						<dd>Casado</dd>
				</dl>
            </div>
        </div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                  Familia <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse2" class="accordion-body collapse">
        	<div class="accordion-inner">
                <p>skdjskdj</p> 
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
                  Conyugue o Pareja <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse3" class="accordion-body collapse">
        	<div class="accordion-inner">
                 <p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                  Amistades <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse4" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                  Conocidos <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse5" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                  Estudios <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse6" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
                  Participación y cargos en empresas <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse7" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
                  Cargos en Gobierno <span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse8" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
                  Partidos Políticos<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse9" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>
   
   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
                  Grupos de Apoyo a campañas Políticas<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse11" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
                  Think Thanks<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse12" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

  <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
                  Cargos en Organismos internacionales<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse13" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

  <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
                  Participación y cargos en ONG<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse14" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

   <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
                  Grupos Religiosos<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse15" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

  <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse16">
                  Grupos Seculares<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse16" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

  <div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse17">
                  Grupos Privados<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse17" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>

<div class="accordion-group">
        <div class="accordion-heading clearfix">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse18">
                  Movimientos Ciudadanos o Sociales<span>( 2 Items )</span> 
            </a>
			<div class="buttonsColapse">
				<a href="#">Editar</a>
				<a href="#" class="showIco">Mostrar</a>
			</div>
        </div>
   		<div id="collapse18" class="accordion-body collapse">
        	<div class="accordion-inner">
				<p>skdjskdj</p>
        	</div>
   		</div>
   </div>



</div>