
<div class="row-division clearfix ancho">
  <ul class="faces-ul">
    <li class="listas"> <img src="{{ =URL('static','tmp/img-pdf.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento <span>Publicado: 07/04/2012</span></p>
        </li>
        <li class="listas">
          <p><span class="source">Fuente: http//:www.google.cl/documneto.pdf</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-excel.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-word.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-pdf.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-pdf.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-pdf.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-pdf.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
    <li class="listas"> <img src="{{ =URL('static','tmp/img-pdf.gif') }}" />
      <ul class="info ancholistas">
        <li class="listas">
          <h4><a href="#" title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit amet</a></h4>
        </li>
        <li class="listas">
          <p>Tipo de Documento</p>
        </li>
        <li class="listas">
          <p><span>Publicado: 07/04/2012</span></p>
        </li>
      </ul>
    </li>
  </ul>
</div>
