                    <hgroup class="widget-heading">
                        <h5>Busca más información</h5>
                    </hgroup>
                    
                    <!-- informationWidget -->
                    <div class="widget widget-ynfo">
                        <form action="#" method="get">
                            <select>
                                <option>Twitter</option>
                                <option>Wikipedia</option>
                                <option>Worlphram Alpha</option>
                                <option>Junar</option>
                                <option>Document Cloud</option>
                                <option>Open Corporates</option>
                                <option>YouTube</option>
                            </select>
                            
                            <select>
                                <option>Buscar</option>
                            </select>
                            
                            <ul class="select-source-text clearfix">
                                <li class="active"><a href="#">Buscar</a></li>
                                <li><a href="#">Imágenes</a></li>
                                <li><a href="#">Cronología</a></li>
                            </ul>
                            
                            <div class="input-append search">
                                <input type="text" placeholder="Búsqueda" /><button type="submit" class="btn"><i class="icon-search"></i></button>
                            </div>
                            
                            <label class="checkbox inline">
                                <input type="checkbox" checked="checked" value="option1" /> Links
                            </label>
                            
                            <label class="checkbox inline">
                                <input type="checkbox" value="option1" /> Retweets
                            </label>
                            
                            <div class="geo-area-search">
                                <input type="text" placeholder="cerca de…" />
                                <span class="of">dentro de</span>
                                <select>
                                    <option>10 km</option>
                                    <option>20 km</option>
                                    <option>80 km</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <!-- /informationWidget -->
                    
                    <!-- sourcesWidget -->
                    <div class="widget widget-sources">
                        <h5>Mis Fuentes</h5>
                        
                        <form action="#" method="get">
                            <ul class="websites-sources">
                                <li><a href="#">gobiernotransparente.cl</a></li>
                                <li><a href="#">cnnchile.com</a></li>
                                <li><a href="#">wikipedia.org</a></li>
                                <li><a href="#">CNN Chile</a></li>
                                <li><a href="#">unenlace.com</a></li>
                                <li><a href="#">www.loremipsumdolor.com</a></li>
                            </ul>
                            
                            <div class="input-append search">
                                <input type="text" placeholder="Búsqueda" /><button type="submit" class="btn"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- /sourcesWidget -->
                    