<!-- tertiaryNav -->
                    <nav class="tertiary-nav">
                        <ul>
                            <li><a href="{{=URL('acercade','index')}}">ACERCA DE</a></li>
                            <li><a href="{{=URL('desarrolladores','index')}}">DESARROLLADORES</a></li>
                            <li><a href="{{=URL('comunidad','index')}}">COMUNIDAD</a></li>
                            <li class="current"><a href="#">AYUDA</a>
                            	<ul class="expanded">
                                    <li><a href="{{=URL('ayuda','index')}}">Guía paso a paso</a></li>
                                    <li><a href="{{=URL('ayuda','preguntas_frecuentes')}}">Preguntas Frecuentes</a></li>
                                    <li><a href="{{=URL('ayuda','lineamientos_editoriales')}}">Lineamientos editoriales</a></li>
                                    <li><a href="{{=URL('ayuda','reportar_error')}}">Reportar errores</a></li>
                                    <li><a href="{{=URL('ayuda','reportar_contenido_inadecuado')}}">Reportar contenido inadecuado</a></li>
								</ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /tertiaryNav -->
