
<hgroup class="widget-heading heading clearfix">
  	<h5>&darr; Colaborar</h5>
</hgroup>
<div class="widget widget-sources clearfix">
	<p>Poderopedia lo hacemos todos. Tu también puedes aportar información:</p>
  	<a href="#" class="btn wide">¿Tienes un dato? Cuéntanos</a> 
	<a href="#" class="btn wide">Sugiere una relación</a> 
	<a href="#" class="btn wide">Sugiere un perfil</a> 
	<p>¿Tienes Dudas? Revisa la <a href="#">Guía Paso a Paso</a></p>
</div>

<hgroup class="widget-heading heading clearfix">
  	<h5>&darr; Suscríbete a Poderopedia</h5>
</hgroup>
<div class="widget widget-sources clearfix">
	<!-- facebook -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like" data-href="http://www.poderopedia.com/" data-send="false" data-width="300" data-show-faces="true"></div>
	<!-- twitter -->
	<hr>
	<a href="https://twitter.com/poderopedia" class="twitter-follow-button" data-show-count="true" data-lang="es">Seguir a @poderopedia</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<hr>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<g:plusone size="medium"></g:plusone>
	<hr>
	<p>Poderopedia en tu email 1 vez por semana:</p>
	<div class="input-append">
	  <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn" type="button">Ahora</button>
	</div>
</div>

<hgroup class="widget-heading heading clearfix">
  	<h5>&darr; Añadidos Recientemente</h5>
</hgroup>
<div class="widget clearfix">
	<ul class="recent">
	  	<li><img src="{{ =URL('static','tmp/avatar-45.gif') }}" /><a href="#">Alberto Bachelet </a>Perfil - 01/12/2012</li>
	  	<li><img src="{{ =URL('static','tmp/avatar-45.gif') }}" /><a href="#">Angela Jeria </a>Perfil - 01/12/2012</li>
	</ul>
</div>

<hgroup class="widget-heading heading clearfix">
  	<h5>&darr; Poderopedia en Números</h5>
</hgroup>
<div class="widget clearfix">
	<ul class="ennumeros">
	  	<li class="personas">Tenemos <span>2.367</span><b>personas</b></li>
	  	<li class="empresas">Tenemos <span>3.104</span><b>empresas</b></li>
		<li class="casos">Tenemos <span>845</span><b>casos</b></li>
		<li class="organizaciones">Tenemos <span>1.976</span><b>organizaciones</b></li>
	</ul>
</div>

<hgroup class="widget-heading heading clearfix">
  	<h5>&darr; Últimas Actualizaciones</h5>
</hgroup>
<div class="widget clearfix">
	<ul class="recent">
	  	<li><img src="{{ =URL('static','tmp/avatar-empresa45.gif') }}" /><a href="#">Tironi y Asociados </a>Empressa - 01/12/2012</li>
	  	<li><img src="{{ =URL('static','tmp/avatar-organizacion45.gif') }}" /><a href="#">Techo para Chile </a>Organización - 01/12/2012</li>
	</ul>
</div>
<!-- /sourcesWidget --> 
