                    <!-- tertiaryNav -->
                    <nav class="tertiary-nav">
                        <ul>
                            <li class="current"><a href="#">Datos Básicos</a></li>
                            <li><a href="#">Perfil</a></li>
                            <li>
                                <a href="#">Conexiones</a>
                                <ul class="collapsed">
                                    <li><a href="persona-conexiones-familia.html">Familia</a></li>
                                    <li><a href="persona-conexiones-pareja.html">Cónyuge o pareja</a></li>
                                    <li><a href="persona-conexiones-amigos.html">Amigos</a></li>
                                    <li><a href="persona-conexiones-conocidos.html">Conocidos</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-estudios.html">Estudios</a></li>
                                    <li><a href="persona-conexiones-comp-estudios.html">Compañeros de estudios</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-cargos-empresas.html">Participación y cargos en empresas</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-cargos-gobierno.html">Cargos en Gobierno</a></li>
                                    <li><a href="persona-conexiones-partidos-politicos.html">Partidos Políticos</a></li>
                                    <li><a href="persona-conexiones-apoyo-campana.html">Grupos de apoyo a campaña política</a></li>
                                    <li><a href="persona-conexiones-think-tanks.html">Think Tanks</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-cargos-internacionales.html">Cargos en organismos internacionales</a></li>
                                    <li><a href="persona-conexiones-cargos-ong.html">Participación y cargos en ONG</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-grupos-religiosos.html">Grupos religiosos</a></li>
                                    <li><a href="persona-conexiones-grupos-seculares.html">Grupos seculares</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-clubes-privados.html">Clubes privados</a></li>
                                    <li class="split"></li>
                                    <li><a href="persona-conexiones-movimientos-sociales.html">Movimientos ciudadanos o sociales</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Mapas</a></li>
                            <li><a href="#">Fuentes</a></li>
                            <li><a href="#">Documentos</a></li>
                            <li><a href="#">Features</a></li>
                        </ul>
                    </nav>
                    <!-- /tertiaryNav -->
                    