{{response.files.append(URL('static','css/smoothness/jquery-ui-1.10.3.custom.min.css'))}}
{{response.files.append(URL('static','js/jquery-ui-1.10.3.custom.min.js'))}}
{{ extend 'layout.html' }}
{{=form}}


<h2>{{=T('Conexiones con Personas')}}</h2>
{{=LOAD('casos','conex_persona.load',vars=dict(caso_id=caso_id),ajax=True, user_signature=True)}}

<h2>{{=T('Conexiones con Organizaciones/Empresas')}}</h2>
{{=LOAD('casos','conex_orgs.load',vars=dict(caso_id=caso_id),ajax=True, user_signature=True)}}





