{{response.files.append(URL('static','css/smoothness/jquery-ui-1.10.3.custom.min.css'))}}
{{response.files.append(URL('static','js/jquery-ui-1.10.3.custom.min.js'))}}

{{response.files.append(URL('static','js/jquery.multiselect.js'))}}
{{response.files.append(URL('static','js/jquery.multiselect.filter.js'))}}
{{response.files.append(URL('static','css/jquery.multiselect.css'))}}
{{response.files.append(URL('static','css/jquery.multiselect.filter.css'))}}
{{extend 'layout.html'}}
<link type="application/rdf+xml" href="{{=URL('plugin_rdf','ld/read',args=['persona',_id])}}" />
<h1>{{=T('Personas')}}</h1>
{{=form}}
<script type="text/javascript">
    $("#persona_Mainsector").multiselect({minWidth:600}).multiselectfilter({width:200});
    $("#persona_documentSource").multiselect({minWidth:600}).multiselectfilter({width:200});
    $("#persona_documentCloud").multiselect({minWidth:600}).multiselectfilter({width:200});
</script>




