{{response.files.append(URL('static','css/smoothness/jquery-ui-1.10.3.custom.min.css'))}}

{{response.files.append(URL('static','js/jquery-ui-1.10.3.custom.min.js'))}}
{{response.files.append(URL('static','js/jquery.multiselect.js'))}}
{{response.files.append(URL('static','js/jquery.multiselect.filter.js'))}}
{{response.files.append(URL('static','css/jquery.multiselect.css'))}}
{{response.files.append(URL('static','css/jquery.multiselect.filter.css'))}}

{{extend 'layout.html'}}
{{if request.args(0):}}
<h2>{{=T('Persona: Datos Básicos')}}</h2>
{{else:}}
<h2>{{=T('Personas:')}}</h2>
{{pass}}
{{=persona_grid}}
{{=DIV(_id='t')}}


<script type="text/javascript">
    $("#persona_documentSource").multiselect({minWidth:600}).multiselectfilter({width:200});
    $("#persona_documentCloud").multiselect({minWidth:600}).multiselectfilter({width:200});
</script>

<script>





    function addConnections(event,id) {

            var texto = jQuery('#data'+id).text();
            if (jQuery('#LoadingImage'+id).html()==undefined) {
                var loading ='<div id="LoadingImage'+id+'" style="display: none"><img src="{{=URL('static','loading.gif')}}" /></div>';
                $(loading).insertAfter("#"+id);
            }
            var $img=$("#image"+id);
            if ($img.attr('src').indexOf("{{=URL('static','plugin_powertable/images/details_open.png')}}") >-1) {
                $img.attr('src', $img.attr('src').replace('open', 'close'));
            } else {
                $img.attr('src', $img.attr('src').replace('close', 'open'));
            }

            if ( texto !='') {
                $("#LoadingImage"+id).show();
                jQuery('#data'+id).slideToggle();
                $("#LoadingImage"+id).hide();
            } else {
                $("#LoadingImage"+id).show();
                jQuery.ajax({
                url: "{{=URL('personas','conexiones')}}/"+id,
                success: function(data) {
                    if(data!="") {
                        $("#LoadingImage"+id).hide();
                        $('<tr id="data'+id+'"><td colspan="8">'+data+'</td></tr>').insertAfter("#"+id);
                        }
                    }
                });
            }


    }

    function deleteRow(event,table,id) {
        if(confirm(' {{ =T('Está seguro de querer borrar la conexión o perfil?') }} ')) {
            jQuery.ajax({
                url: "{{=URL('default','call',args=['json','delete'])}}/"+table+"/"+id,
                success: function(data) {
                    if(data!="") {
                        if(data==""+id) {
                            $('.datatabledetail').fadeOut().hide();
                        }
                        $('#'+data).fadeOut().hide();
                    }
                }
            });
        }

    }

</script>
